<div class="resetPassword-container-big">
    <span class="fas fa-window-close span-x" ui-sref="home"></span>
    <span class="fas fa-arrow-left span-back" ui-sref="logIn"></span>

    <img src="/Autentification/img-autentification/Logo.png" alt="C4G-full-moto" class="resetPassword-image">

    <div class="resetPassword-container container">
            <h2>Reset password</h2>
            <div ng-show="vm.showErrorMessage" id="alert-error"><p>{{message}}</p></div>
            <div ng-show="vm.successMessage" id="alert-succesful"><p>{{successMessage}}</p></div>
            <div ng-show="vm.showStartMessage" style="color:red;">{{showStartMessage}}</div>
      <form name="form" novalidate>
      <div class="form-group" ng-class="{'has-error': form.code.$invalid && form.code.$dirty}">
        <div class="resetPassword-input-container">
            <i class="fas fa-key icon"></i>
            <input class="resetPassword-input-filed" type="text" placeholder="Enter code" ng-model="resCode" class="form-control" ng-pattern="/^[0-9]*$/" name="code" required>
        </div>
        <div class="help-block has-error">
          <div ng-show="form.code.$error.required && form.code.$dirty">This field is required</div>
          <div ng-show="!form.code.$error.requires && form.code.$error.pattern">The code must contain only numbers</div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': form.psw.$invalid && form.psw.$dirty}">
        <div class="resetPassword-input-container">
            <i class="fas fa-lock icon"></i>
            <input class="resetPassword-input-filed" type="password" placeholder="New password" ng-model="newPass" class="form-control" ng-minlength="6" name="psw" required>
        </div>
        <div class="help-block has-error">
          <div ng-show="form.psw.$error.required && form.psw.$dirty">This field is required</div>
          <div ng-show="!form.psw.$error.required && form.psw.$error.minlength">The password must have at least 6 characters</div>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': form.confirmPass.$invalid && form.confirmPass.$dirty}">
      <div class="resetPassword-input-container">
        <i class="fas fa-lock icon"></i>
          <input class="resetPassword-input-filed" type="password" placeholder="Confirm password" ng-model="confirmPass" class="form-control" name="confirmPass" validres-password required>
          
        </div>
          <div class="help-block has-error">
            <div ng-show ="form.confirmPass.$error.required && form.confirmPass.$dirty">This field is required</div>
            <div ng-show = "!form.confirmPass.$error.required && form.confirmPass.$error.noMatch && form.psw.$dirty">The passwords don't match</div>
          </div>
    </div>
      </form>

        <button type="button" ng-click="resetPass(resCode, newPass)">Reset your password</button>

    </div>
</div>

<!-- <a ui-sref="resetPassword">Reset pass</a>

<div ui-view="resetPassword"></div> -->
