<div class="login-container-big">
    <img class="sign-icon back" src="/Home/images-home/Icons/Back1.0.svg"  ui-sref="logIn" alt="Check4Green original icon" title="Back">
    <img class="sign-icon" src="/Home/images-home/Icons/Close1.0.svg" ui-sref="home" alt="Check4Green original icon" title="Close">

    <div class="c-login-parrent">
            <img src="/Home/images-home/Home-page/Check4Green-logoPP.svg" alt="Check4Green original logo">

      <div class="c-login-form" name="form" novalidate>
          <div ng-show="vm.showErrorMessage" id="alert-error"><p>{{message}}</p></div>
          <div ng-show="vm.successMessage" id="alert-succesful"><p>{{successMessage}}</p></div>
          <div ng-show="vm.showStartMessage" style="color:red;">{{showStartMessage}}</div>

          <div class="f-group" ng-class="{'has-error': form.code.$invalid && form.code.$dirty}">
              <input class="resetPassword-input-filed" type="text" placeholder="Enter code" ng-model="resCode" class="form-control" ng-pattern="/^[0-9]*$/" name="code" required>
          
              <div class="error-style">
                <div ng-show="form.code.$error.required && form.code.$dirty"><p>This field is required</p></div>
                <div ng-show="!form.code.$error.requires && form.code.$error.pattern"><p>The code must contain only numbers</p></div>
              </div>
          </div>

          <div class="f-group" ng-class="{'has-error': form.psw.$invalid && form.psw.$dirty}">
              <input class="resetPassword-input-filed" type="password" placeholder="New password" ng-model="newPass" class="form-control" ng-minlength="6" name="psw" required>
          
              <div class="error-style">
                <div ng-show="form.psw.$error.required && form.psw.$dirty"><p>This field is required</p></div>
                <div ng-show="!form.psw.$error.required && form.psw.$error.minlength"><p>The password must have at least 6 characters</p></div>
              </div>
          </div>

          <div class="f-group" ng-class="{'has-error': form.confirmPass.$invalid && form.confirmPass.$dirty}">
              <input class="resetPassword-input-filed" type="password" placeholder="Confirm password" ng-model="confirmPass" class="form-control" name="confirmPass" validres-password required>
          
              <div class="error-style">
                <div ng-show ="form.confirmPass.$error.required && form.confirmPass.$dirty"><p>This field is required</p></div>
                <div ng-show = "!form.confirmPass.$error.required && form.confirmPass.$error.noMatch && form.psw.$dirty"><p>The passwords don't match</p></div>
              </div>
          </div>

      </div>
      
      <div class="c-login-register">
        <a ng-click="resetPass(resCode, newPass)">Reset your password</a>
      </div>

    </div>
</div>