@font-face{
    font-family: myFont;
    src: url(/font/Helmet-Regular.ttf);
}
 body{
     margin: 0px;
     font-size: 13px;
    }
.navbar-inverse{
    background-color: #626d71;
    border-color: #080808;
}    
.swiss{
    margin-top: 3px;
    width: 80px;
    cursor: pointer;
    user-select: none!important;
}
#categories{
    margin-top: -20px;
    margin-left: -15px;
    background-color: #353C3F;
    /* height: 659px; */
}
#categories .btn-primary{
    color: rgb(252, 232, 232);
    background-color: #b38867 ;
    border-color: #353C3F;
    outline-color: #353C3F;
}
#collapseButton .btn-primary{
    color: rgb(252, 232, 232);
    background-color: #b38867 ;
    border-color: #353C3F;
    outline-color: #353C3F;
}
.btn-primary{
    color: rgb(252, 232, 232);
    background-color: #b38867 ;
    border-color: #353C3F;
    outline-color: #353C3F;
}
.btn-primary:hover{
    color: rgb(252, 232, 232);
    background-color: #ddbc95  ;
}
.btn-primary:active{
    color: rgb(216, 201, 201);
    background-color: #ddbc95!important;
}
.table{
    text-align: center;
}
.title{
    display: flex;
}
.list{
    display: flex;
}




/* remove scrollbar space */
::-webkit-scrollbar{
      
      width: 7px;
      background-color: #6d6c6c;
     
}
::-webkit-scrollbar-thumb{
    width: 2px;
    background-color: #b38867;
}

ul, menu, dir{
    -webkit-padding-start: 0px;
}



/* grid devexpress */
.dx-datagrid-content .dx-datagrid-table{ 
    color: #000000!important;
} /* culoare text grid */

.dx-datagrid-text-content{
    text-transform: uppercase;
    font-weight: bold!important;
    font-size: 16px;
    text-align: left!important;
}
.dx-icon{
    color: #979595!important;
    font-weight: bold!important;
}
.dx-button{
    border-color:#ddbc95!important; 
}
 /*Add button */
.dx-datagrid .dx-link{
    text-decoration: none!important;
}
.dx-link-edit{
    color: #c6dd95!important;
}
.dx-link-delete{
    color: #ce877b!important;
} /* text edit-delete */
.dx-texteditor{
    border:1px solid #ddbc95!important;
}
/* search */
.dx-datagrid-group-closed:before{
    color:#b38867;
}
.dx-datagrid-group-opened:before{
    color:#b38867;
}/*sageata show measurements*/
 .dx-datagrid-headers .dx-datagrid-table .dx-row > td{
    background-color: #ddbc95;
    border-color: #ddbc95!important;
}
.dx-datagrid .dx-row-lines > td{
    border-color: #ddbc95!important;
}
.dx-datagrid-rowsview .dx-row > .dx-master-detail-cell{
    padding: 0px!important;
}
.dx-widget{
    margin: 0px!important;
}
.dx-pager .dx-pages .dx-page{
    font-weight: bold!important;
    font-size: 16px;
    font-family: myFont!important;
    background-color: #656565!important;
}

/* grid devexpress */