 body{
     margin: 0px;
     font-size: 13px;
    }
#menu img{
    width: 30px;
    cursor: pointer;
    user-select: none!important;
}
.swiss{
    width: 90px;
    cursor: pointer;
    user-select: none!important;
    position: absolute;
    right: 5px;
}
.navbar #menu{
    width: 70px;
    height: 49px;
    font-size: 22px;
    background-color: #626d7133;
    color: aliceblue;
    border-style: none;
    user-select: none!important;
}
.input-group-prepend span{
    width: 75px;
}
.navbar #menu span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.navbar #menu span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .navbar #menu:hover span {
    padding-right: 25px;
  }
  .navbar #menu:hover span:after {
    opacity: 1;
    right: 0;
  }
.navbar button{
    width: 200px;
    height: 50px;
    font-size: 14px;
    user-select: none!important;
}
.btn-group .dropdown-menu{
    background-color: #b38867;
    padding: 5px;
    width: 200px;
    font-size: 12px;
    text-align: center;
    user-select: none!important;
}
.nav a{
    color: white;
    user-select: none;
}

.nav a:hover{
    background-color: #ddbc95;
    color: #000000;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000000;
    background-color: #ddbc95;
}
#categories{
    margin-top: -20px;
    margin-left: -15px;
    background-color: #353C3F;
    user-select: none!important;
}
#categories .btn-primary{
    color: rgb(252, 232, 232);
    background-color: #b38867 ;
    border-color: #353C3F;
    outline-color: #353C3F;
}
#collapseButton .btn-primary{
    color: rgb(252, 232, 232);
    background-color: #b38867 ;
    border-color: #353C3F;
    outline-color: #353C3F;
}
.btn-primary{
    color: rgb(252, 232, 232);
    background-color: #b38867 ;
    border-color: #353C3F;
    outline-color: #353C3F;
}
.btn-primary:hover{
    color: rgb(252, 232, 232);
    background-color: #ddbc95  ;
}
.btn-primary:active{
    color: rgb(216, 201, 201);
    background-color: #ddbc95!important;
}
.table{
    text-align: center;
}
.tableLiveView{
    display: flex;
}
.pager li{
    cursor: pointer;
}
.dropdown-menu p{
    font-size: 11px;
}
.dropdown-menu #edit-button-r{
    background-color: #c6dd95;
    color: #626d71;
}
.dropdown-menu button{
    width: 50%;
}
.btn-group button:focus{
    background-color: #ddbc95!important;
}
.btn-group button:hover{
    background-color: #ddbc95!important;
}

.dropdown .btn-primary:focus{
    background-color: #ddbc95!important;
}
.pager .btn-secondary{
    color: #6c757d;
    background-color: #c6dd95;
    border-color: #6c757d;
}
.pager .btn-secondary:active{
    background-color: #95dd99!important;
}
.pager .btn-primary{
    color: #6c757d;
    background-color: #ce877b!important;
    border-color: #6c757d;
}
.pager .btn-primary:active{
    background-color: #d65959!important;
}
/* remove scrollbar space */
::-webkit-scrollbar{
      
      width: 7px;
      background-color: #6d6c6c;
     
}
::-webkit-scrollbar-thumb{
    width: 2px;
    background-color: #b38867;
}

ul, menu, dir{
    -webkit-padding-start: 0px;
}

/* grid devexpress */
.dx-datagrid-content .dx-datagrid-table{ 
    color: #000000!important;
} /* culoare text grid */

.dx-datagrid-text-content{
    text-transform: uppercase;
    font-weight: bold!important;
    font-size: 16px;
    text-align: left!important;
}
.dx-icon{
    color: #979595!important;
    font-weight: bold!important;
}
.dx-button{
    border-color:#ddbc95!important; 
}
.distanceDistance table thead {
    background-color: #ddbc95;
}
.distanceDistance table{
    background-color: #ddbd952f;
}

 /*Add button */
.dx-datagrid .dx-link{
    text-decoration: none!important;
}
.dx-link-edit{
    color: #c6dd95!important;
}
.dx-link-delete{
    color: #ce877b!important;
} /* text edit-delete */
.dx-texteditor{
    border:1px solid #ddbc95!important;
}
/* search */
.dx-datagrid-group-closed:before{
    color:#b38867;
}
.dx-datagrid-group-opened:before{
    color:#b38867;
}/*sageata show measurements*/
 .dx-datagrid-headers .dx-datagrid-table .dx-row > td{
    background-color: #ddbc95;
    border-color: #ddbc95!important;
}
.dx-datagrid .dx-row-lines > td{
    border-color: #ddbc95!important;
}
.dx-datagrid-rowsview .dx-row > .dx-master-detail-cell{
    padding: 0px!important;
}
.dx-widget{
    margin: 0px!important;
}
.dx-pager .dx-pages .dx-page{
    font-weight: bold!important;
    font-size: 16px;
    font-family: myFont!important;
    background-color: #656565!important;
}

/* grid devexpress */