<!DOCTYPE html>
<html>
<head>
    <title>Sensor App</title>
    
    <!--Style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    


    <link rel="stylesheet" href="indexStyle.css" type="text/css"> <!-- swiss -->
    <link rel="stylesheet" href="/DistanceList/deleteSensorDirectiveStyle.css" type="text/css">
    <link rel="stylesheet" href="/CategoriesMenu/categoriesStyle.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- icon -->
    <link rel="stylesheet" href="/CommonData/style.css" type="text/css">  <!-- devexpress -->
    <link rel="dx-theme" data-theme="generic.light" href="https://cdn3.devexpress.com/jslib/17.2.5/css/dx.light.css" /> <!-- devexpress -->
    
</head>
<body ng-app="sensorApp">
<!-- <div class="reloadFlex">
                <i onclick="myFunction()" class="allb grid fa fa-refresh" title="reload"></i>
                <script>function myFunction() {
                        location.reload();
                    }</script>
                <i onclick="goBack()" class="allb grid fa fa-arrow-left" title="back"></i>
                <script>function goBack() {
                         window.history.back();
                        }</script>
</div>   -->

<header>   
    <!-- Image and text -->
    <nav class="navbar navbar-inverse">   
        <div class="container-fluid">
            <div class="navbar-header">
                <img class="swiss" ui-sref="index" title="Back to home" src="/iconPng/swiss.png">
            </div>
        </div>
    </nav>
</header> 

<!-- home/categories/set -->
<div class="container-fluid">
    <div class="btn-group-vertical col-md-1" id="categories" ng-controller="clickCtrl as vm">
      <button type="button" title="home" class="btn btn-primary rel fa icon fa fa-home" ui-sref="index" ng-click="vm.myStyle(1)" ng-style="vm.Style1">Home</button>
      <button type="button" title="categories" class="btn btn-primary rel fa fa-indent" data-toggle="collapse" data-target="#demo" ng-click="vm.myStyle(2)" ng-style="vm.Style2">Categories</button>
      <div id="demo" class="collapse">
        <div class="col-mx-1" id="categoriesNav" ng-controller="clickCtrl as vm">
            <ul class="nav nav-pills nav-stacked">
              <li class="active"><a class="btn btn-primary fa fa-thermometer-2" ui-sref="categories.sensorList" title="temperature sensors list" ng-click="vm.myStyle(1)" ng-style="vm.Style1">Temperature</a></li>
              <li class="active"><a class="btn btn-primary rel fa fa-sort-amount-asc" ui-sref="categories.distanceList" title="distance sesors" ng-click="vm.myStyle(2)" ng-style="vm.Style2">Distance</a></li>
              <li class="active"><a class="btn btn-primary rel fa fa-tint" title="humidity" ng-click="vm.myStyle(3)" ng-style="vm.Style3">Humidity</a></li>
            </ul>
        </div>  

      </div>
      <button type="button" title="settings" class="btn btn-primary rel fa fa-cog" ng-click="vm.myStyle(3)" ng-style="vm.Style3">Setings</button>
    </div>

    <div class="gridView col-md-10">
        <div class="grid st"><div ui-view="filters"></div></div>
        <div class="grid sd"><div ui-view="distance"></div></div> 
        <div class="grid sh"><div ui-view="humidity"></div></div>
    </div>         
</div>    
</body>

<!--Library-->
<script src="/Library/jquery.js"></script>
<script src="/Library/angular.js"></script>
<script src="/Library/angular-resources.js"></script>
<script src="/Library/angular-mocks.js"></script>
<script src="/Library/angular-ui-router.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<!--Data-->
<script src="routeCtrl.js"></script>
<script src="CommonData/common.services.js"></script>
<script src="Chart1/chartService.js"></script>
<script src="SensorList/sensorsService.js"></script>
<script src="Measurements/measurementsService.js"></script>
<script src="https://cdn3.devexpress.com/jslib/17.2.5/js/dx.all.js"></script>
<script src="/DistanceList/distanceService.js"></script>
<!--Controllers-->
<script src="/menuList/menuCtrl.js"></script>
<script src="/CategoriesMenu/categoriesCtrl.js"></script>
<script src="/SensorList/sensorListCtrl.js"></script> 
<script src="/DistanceList/distanceCtrl.js"></script>
<script src="/HumidityList/humidityCtrl.js"></script>
<script src="/Measurements/measurementsCtrl.js"></script>
<script src="Chart1/controllerChart.js"></script>
<script src="selector.js"></script>

    
<!--Components-->
<script src="/menuList/menuComponent.js"></script>
<script src="/CategoriesMenu/categoriesComponent.js"></script>
<script src="SensorList/SensorListComponent.js"></script>
<script src="/DistanceList/distanceComponent.js"></script>
<script src="/HumidityList/humidityComponent.js"></script>
<script src="Measurements/measurementsComponent.js"></script>
<script src="Chart1/ChartComponent.js"></script>

<!--Directive-->
<script src="DistanceList/deleteSensorDirective.js"></script>
</html>