<!DOCTYPE html>
<html>
<head>
    <title>SWISS IOT</title>
    
    <!--Style-->
    <link rel="stylesheet" href="/CommonData/style.css" type="text/css">
    <link rel="stylesheet" href="indexStyle.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!--Library-->
    <script src="/Library/jquery.js"></script>
    <script src="/Library/angular.js"></script>
    <script src="/Library/angular-ui-router.js"></script>
    <script src="/Library/angular-resources.js"></script>
    <script src="/Library/angular-mocks.js"></script>
    
    <!--DevExpress-->
	<link rel="dx-theme" data-theme="generic.light" href="https://cdn3.devexpress.com/jslib/17.2.5/css/dx.light.css" />
	<script src="https://cdn3.devexpress.com/jslib/17.2.5/js/dx.all.js"></script>

    <!--Data-->
    <script src="routeCtrl.js"></script>
    <script src="SensorList/sensorsService.js"></script>
    <script src="Measurements/measurementsService.js"></script>

  
    <!--Controllers-->
    <script src="/SensorList/sensorListCtrl.js"></script>
    <script src="/Measurements/measurementsCtrl.js"></script>
    <script src="Chart/IndexChart.js"></script>
    <script src="selector.js"></script>

    <!--Components-->
    <script src="SensorList/SensorListComponent.js"></script>
    <script src="Measurements/measurementsComponent.js"></script>
    <script src="Chart1/ChartComponent.js"></script>
</head>
<body ng-app="sensorApp">

        <div class="body">
            <div class="header"><img class="swiss" src="/iconPng/swiss.png"></div>
                <div class="left-search">
                    <div class="left" ng-controller="myCtrl">
                            <div class="buttons">
                                <img class="icon" src="/iconPng/home.png">
                                <img class="absolute" ng-show="showMeCategories" ng-click="myFuncCategories()" src="/iconPng/categoriesClicked.png">
                                <img ng-click="myFunc()" class="icon" src="/iconPng/categories.png"> 
                                <img class="icon" src="/iconPng/set.png">
                            </div>
                            <div class="categories" ng-show="showMe">
                                <div class="text" ui-sref="sensorList">Temperature</div>
                                <div class="text">Humidity</div>
                                <div class="text">Distance</div>
                            </div>       
                    </div>
                    <div class="search">
                        <form>
                            <input class="all" type="text" placeholder="Search sensor for this type">
                            <button class="all1" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
            </div>
            <div ui-view></div>
        </div>
</body>
</html>