<div class="register-container-big">
    <span class="fa fa-close span-x" ui-sref="home"></span>
    <span class="fa fa-arrow-left span-back" ui-sref="logIn"></span>

    <img src="/Autentification/LogIn/Img-login/C4G-full-moto.png" alt="C4G-full-moto" class="register-image">

    <div class="register-container container">
            <h2>Register</h2>
      <form name="regForm" novalidate>
        <h>First name <h style="color: #d9534f;">*</h></h>
        <div class="form-group" ng-class="{'has-error': regForm.fname.$invalid && regForm.fname.$dirty}">
          <div class="register-input-container">
          <i class="fa fa-address-book  icon"></i>
            <input class="register-input-filed" type="text" name="fname" ng-model="registerFirstName" placeholder="First name" ng-pattern="/^[a-zA-Z\s-]*$/" class="form-control" name-valid required>

          </div>
          <div class="help-block has-error">
            <div ng-show ="regForm.fname.$error.required && regForm.fname.$dirty">This field is required!</div>
            <div ng-show="!regForm.fname.$error.required && regForm.fname.$error.pattern">The name format is invalid! Use only: 'a-z', 'A-Z', '-' and space!</div>
            <div ng-show="!regForm.fname.$error.required && !regForm.fname.$error.pattern && !regForm.fname.$valid">The name format is invalid!</div>
          </div>
        </div>

        <h>Last name<h style="color: #d9534f;">*</h></h>
        <div class="form-group" ng-class="{'has-error': regForm.lname.$invalid && regForm.lname.$dirty}">
          <div class="register-input-container">
            <i class="fa fa-address-book-o  icon"></i>
            <input class="register-input-filed" type="text" placeholder="Last name" ng-model="registerLastName" class="form-control" ng-pattern="/^[a-zA-Z\s-]*$/" name="lname" name-valid required>
          </div>
          <div class="help-block has-error">
            <div ng-show="regForm.lname.$error.required && regForm.lname.$dirty">This field is required</div>
            <div ng-show="regForm.lname.$error.pattern">The name format is invalid! Use only: 'a-z', 'A-Z','-' and space.</div>
            <div ng-show="!regForm.lname.$error.required && !regForm.lname.$error.pattern && !regForm.lname.$valid">The name format is invalid!</div>
          </div>
      </div>
        <h>Email address<h style="color: #d9534f;">*</h></h>
        <div class="form-group" ng-class="{'has-error': regForm.regEmail.$invalid && regForm.regEmail.$dirty}">
        <div class="register-input-container">
            <i class="fa fa-envelope icon"></i>
            <input class="register-input-filed" type="email" placeholder="Email address" ng-model="registerEmail" ng-pattern="/^[A-Za-z0-9._@]*$/" class="form-control" name="regEmail" required>
        </div>
        <div class="help-block has-error">
          <div ng-show="regForm.regEmail.$error.required && regForm.regEmail.$dirty">This field is required!</div>
          <div ng-show="!regForm.regEmail.$error.required && regForm.regEmail.$error.pattern || regForm.regEmail.$error.email">This email is invalid!</div>
        </div>
      </div>
        <h>Password<h style="color: #d9534f;">*</h></h>
        <div class="form-group" ng-class="{'has-error': regForm.pass.$invalid && regForm.pass.$dirty}">
        <div class="register-input-container">
            <i class="fa fa-lock icon"></i>
            <input class="register-input-filed" type="password" placeholder="Password" ng-model="registerPassword" ng-minlength="6" class="form-control" name="pass" required>
        </div>
        <div class="help-block has-error">
          <div ng-show="regForm.pass.$error.required && regForm.pass.$dirty">This field is required!</div>
          <div ng-show="!regForm.pass.$error.required && regForm.pass.$error.minlength">The password must have at least 6 characters!</div>
        </div>
        </div>

        <h>Repeat password<h style="color: #d9534f;">*</h></h>
        <div class="form-group" ng-class="{'has-error': regForm.password.$invalid && regForm.password.$dirty}">
        <div class="register-input-container">
            <i class="fa fa-lock icon"> r</i>
            <input class="register-input-filed" type="password" name="password" placeholder="Repeat password" ng-model="registerPassword2" class="form-control" valid-password required>
        </div>
        <div class="help-block has-error">
          <div ng-show="regForm.password.$error.required && regForm.password.$dirty">This field is required!</div>
          <div ng-show="!regForm.password.$error.required && regForm.password.$error.noMatch && regForm.pass.$dirty">Passwords do not match!</div>
        </div>
      </div>
        <h>Company name</h>
        <div class="form-group" ng-class="{'has-error': regForm.cname.$invalid && regForm.cname.$dirty}">
        <div class="register-input-container">
            <i class="fa fa-bank icon"></i>
            <input class="register-input-filed" type="text" placeholder="Company name" ng-model="registerCompany" ng-pattern="/^[a-zA-Z0-9\s.-]*$/" class="form-control" name="cname" required>
          </div>
          <div class="help-block has-error" ng-show="regForm.cname.$error.pattern && regForm.cname.$dirty">The company name is invalid!</div>
        </div>

        <!-- <h>Country<h style="color: #d9534f;">*</h></h>
        <div class="register-input-container">
            <i class="fa fa-map-marker icon"></i>
            <input class="register-input-filed" type="country" placeholder="Country" class="form-control" name="country" required>
        </div> -->

        <h>Country<h style="color: #d9534f;">*</h></h>
        <div class="form-group" ng-class="{'has-error': regForm.country.$invalid && regForm.country.$dirty}">
        <div class="register-input-container">
            <i class="fa fa-map-marker icon"></i>
              <!--  <input list="country" name="country" class="register-input-filed" placeholder="Country" ng-model="registerCountry" required>
                <datalist id="country">
                        <option value="Argentina">Argentina</option>
                        <option value="Australia">Australia</option>
                        <option value="Austria">Austria</option>
                        <option value="Belgium">Belgium</option>
                        <option value="Brazil">Brazil</option>
                        <option value="Bulgaria">Bulgaria</option>
                        <option value="China">China</option>
                        <option value="Egypt">Egypt</option>
                        <option value="Hungary">Hungary</option>
                        <option value="India">India</option>
                        <option value="Indonesia">Indonesia</option>
                        <option value="Italy">Italy</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Moldova">Moldova</option>
                        <option value="Norway">Norway</option>
                        <option value="Poland">Poland</option>
                        <option value="Portugal">Portugal</option>
                        <option value="Romania">Romania</option>
                        <option value="Russia">Russia</option>
                        <option value="Slovakia">Slovakia</option>
                        <option value="Slovenia">Slovenia</option>
                        <option value="South Africa">South Africa</option>
                        <option value="Spain">Spain</option>
                        <option value="Sweden">Sweden</option>
                        <option value="Switzerland">Switzerland</option>
                        <option value="Turkey">Turkey</option>
                        <option value="Ukraine">Ukraine</option>
                        <option value="United Arab Emirates">United Arab Emirates</option>
                        <option value="United Kingdom">United Kingdom</option>
                        <option value="United States">United States</option>
                        <option value="Uruguay">Uruguay</option>
                </datalist> -->
                <select name="country" class="register-input-filed" ng-model="registerCountry" ng-options="country.name for country in countries" required>
                  <option value="">Select country</options>
                </select>
        </div>
        <div class="help-block has-error" ng-show="regForm.country.$error.required && regForm.country.$dirty">This field is required!</div>
      </div>
        <h>Phone number<h style="color: #d9534f;">*</h></h>
        <div class="form-group" ng-class="{'has-error': regForm.nphone.$invalid && regForm.nphone.$dirty}">
          <div class="register-input-container">
            <i class="fa fa-phone icon"></i>
            <input value="{{registerCountry.dialCode}}" style="width:60px;" disabled >
            <input class="register-input-filed" type="text" placeholder="Phone number" ng-model="registerPhone" class="form-control" ng-pattern="/^[0-9+()\s]*$/" name="nphone" phone-valid required>
          </div>
          <div class="help-block has-error">
            <div ng-show="regForm.nphone.$error.required && regForm.nphone.$dirty">This field is required!</div>
            <div ng-show="!regForm.nphone.$error.required && regForm.nphone.$error.pattern">The phone number is invlid!</div>
            <div ng-show="!regForm.nphone.$error.required && !regForm.nphone.$error.pattenr && !regForm.nphone.$valid">The phone number is invlid!</div>
          </div>
      </div>
    </form>
        <button type="button" ng-click="register(registerFirstName, registerLastName, registerEmail, registerPassword,registerPassword2, registerCompany, registerCountry, registerPhone)">Create account</button>
        <p>Signing up signifies that you have read and agree to the <a>Terms of Service</a> and our <a>Privacy Policy</a>.</p>

    </div>

</div>
