<div class="login-container-big">
    <span class="fas fa-window-close span-x" ui-sref="home"></span>
    <img src="/Home/images-home/C4G-logo-BG-white-2.svg" alt="C4G-full-moto" class="login-image">

    <div class="login-container container">
            <h2>Log in</h2>
            <div ng-if = "loading" class="loader"></div>
            <div ng-show="vm.showLogInError" id="alert-error"><p>{{message}}</p></div>
      <form name="loginForm" novalidate ng-hide="loading">
          <div class="form-group" ng-class="{'has-error': loginForm.uname.$invalid && loginForm.uname.$dirty}">
        <div class="login-input-container">
            <i class="fas fa-envelope icon"></i>
            <input class="login-input-filed" type="email" placeholder="Enter email" ng-model="email" ng-pattern="/^[A-Za-z0-9._@]*$/" class="form-control" name="uname" required>
          </div>
          <div class="help-block has-error">
            <div ng-show="loginForm.uname.$error.required && loginForm.uname.$dirty">This field is required!</div>
            <div ng-show="loginForm.uname.$error.email || loginForm.uname.$error.pattern">This email address is invalid!</div>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': loginForm.psw.$invalid && loginForm.psw.$dirty}">
        <div class="login-input-container">
            <i class="fas fa-key icon"></i>
            <input class="login-input-filed" type="password" placeholder="Enter password" ng-enter="login(email, password)" ng-model="password" class="form-control" name="psw" required>
        </div>
        <div class="help-block has-error" ng-show="loginForm.psw.$error.required && loginForm.psw.$dirty">This field is required!</div>
      </div>
      </form>
        <button type="button" ng-click="login(email, password)" ng-hide="loading">Log in</button>

        <label class="container-checkboxes" ng-hide="loading">
            <input type="checkbox" checked ng-model="value" ng-click="remeberAccount(value)">Remember me
            <span class="checkmark"></span>
        </label>
        
        <label class="register-pass" ng-hide="loading">
        <a ui-sref="accountEmail">Register</a>
        <a class="register-pass" ui-sref="forgotPassword">Forgot your password?</a>
        </label>
    </div>
</div>
<div class="header-home-add" style="display: none !important;" title="Fake-element"></div>
