@font-face {
    font-family: "FontC4G";
    src: url("/Home/Checl4Green-fonts/Roboto-Regular.ttf");
}
html, body{
    font-family: "FontC4G";
}
/* --> header home  */
.container-header-logoIMG img{
    width: 100%;
    height: auto;
}
.header-container{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #ffffff85;
    transition: 0.5s;
    z-index: 20;
    font-size: 10px;
}
.header-home-add{
  padding: 0px !important;
  background-color: #fdffff !important;
  box-shadow: 1px 1px 14px 0px #005c4e4d;
}
.logo-header-home-add{
    display: initial !important;
}
.header-container .logo-header-home{
    display: none;
    padding: 3px;
    margin-left: 5px;
    width: 150px;
    height: auto;
    float: left;
    transition: 0.5s;
}
.header-container a {
  font-family: "FontC4G";
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 7px 9px;
  text-decoration: none !important;
  cursor: pointer;
  user-select: none;
  border-bottom: 3px solid #4e9a0600 !important;
  margin-right: 2px;
  margin-top: 10px;
}
.header-container a:hover{
    transition: 0.5s;
    color: #265c00;
    border-bottom: 3px solid #4e9a06 !important;
    
}
.header-container .icon {
  display: none;
}
.totalTwo{
  display: none;
}
#totalCost:hover{
    color: black;
    cursor: text;
    user-select: text;
    background-color: #005c4e00;
    border-bottom: 3px solid #4e9a0600 !important;
}
@media screen and (max-width: 600px) {
  .header-container a:not(:first-child){
    display: none;
  }
  .header-container a.icon {
    float: right;
    display: block;
    color: black;
    background-color: rgba(51, 51, 51, 0);
    border-bottom: 3px solid #4e9a0600 !important;
    border: 1px solid #4e9a0600;
  }
  #totalCost{
    display: none;
  }
  .totalTwo{
    transition: 0s !important;
    color: black;
    background-color: rgba(51, 51, 51, 0);
    border-bottom: 3px solid #4e9a0600 !important;
    border: 1px solid #4e9a0600;
  }
}

@media screen and (max-width: 600px) {
  /* .topnav.responsive {
    position: fixed;
  } */
  .header-container.responsive .icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: black;
    background-color: rgba(51, 51, 51, 0);
    border-bottom: 3px solid #4e9a0600 !important;
    border: 1px solid #4e9a0600;
  }
  .header-container.responsive .totalTwo{
    margin-right: 30px;
    color: black;
    background-color: #33333300;
    border-bottom: 3px solid #4e9a0600 !important;
    border: 1px solid #4e9a0600;
  }
  .header-container.responsive a {
    float: none;
    display: block;
    text-align: center;
   
  }
  .header-container.responsive .margin-header{
    margin-top: 50px;
  }
}
@media screen and (max-width: 440px){
    .header-container .logo-header-home{
        width: 150px;
        margin-top: 10px;
    }
    .header-container{
        font-size: 14px;
        padding: 5px;
    }
    #costTwo{
        position: unset;
        background-color: #33333300;
        margin-right: 0px;
        margin-top: 10px;
        border: 1px solid #4e9a0600;
        border-bottom: 3px solid #4e9a0600 !important;
        border-radius: 5px;
    }
    .header-container.responsive .totalTwo{
        margin-right: 0px;
    }
    .header-container.responsive .margin-header{
        margin-top: 0px;
      }
}
/* /header home <-- */

/* --> calculator */

/* request <-- */

/* --> footer */
.container-home .footer-container{
    display: flex;
    cursor: pointer;
    font-family: "FontC4G";
}
.container-home .footer-container a{
    text-decoration: none;
    color: #adaaaa;
}
.container-home .footer-container .footer-container-contact{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-align: left;
    font-size: 15px;
}
.container-home .footer-container .footer-container-contact span{
    margin-right: 10px;
}
.container-home .footer-container .footer-container-contact a{
    margin-bottom: 5px;
}
.container-home .footer-container .footer-container-contact a:hover{
    color: #4e9a06;
    text-shadow: 0px 0px 25px #4e9a06;
}
.container-home .footer-container.footer-container-condition .container-condition a:hover{
    color: #4e9a06;
    text-shadow: 0px 0px 25px #4e9a06;
}
.container-home .footer-container .footer-container-condition{
    align-self: center;
    flex-grow: 1;
    font-size: 13px;
}
.container-home .footer-container .footer-container-condition .container-condition a{
    margin-left: 30px;
}
/* .container-home .footer-container .footer-container-condition .container-condition a:hover, h:hover{
    color: #4e9a06;
    text-shadow: 0px 0px 25px #4e9a06;
} */
.container-home .footer-container .footer-container-condition .container-cc{
    margin-top: 15px;
}
.container-home .footer-container .footer-container-condition .container-cc a{
    color: #686868;
}
.container-home .footer-container .footer-container-condition .container-condition a:hover{
    color: #4e9a06;
    text-shadow: 0px 0px 25px #4e9a06;
}
.container-home .footer-container .footer-container-social{
    align-self: flex-end;
    text-align: left;
}
.container-home .footer-container .footer-container-social span{
    background-color: #d8d8d8;
    padding: 10px;
    border-radius: 50%;
    color: #333333e3;
    margin-right: 20px;
    font-size: 20px;
}
.container-home .footer-container .footer-container-social span:hover{
   color: #4e9a06;
   text-shadow: 0px 0px 25px white;
   box-shadow: 0px 0px 25px #4e9a06;
}
@media screen and (max-width: 1000px){
    .container-home .footer-container{
        flex-direction: column;
    }
    .container-home .footer-container .footer-container-contact{
        align-self: center;
    }
    .container-home .footer-container .footer-container-condition .container-condition a{
        margin-left: 5px;
    }
    .container-home .footer-container .footer-container-social{
        align-self: center;
    }
    .container-home .footer-container .footer-container-condition .container-cc{
        margin-top: 5px;
        margin-bottom: 10px;
    }
}
/* footer <-- */