/* --> header home  */
.container-home .header-home{
    overflow: hidden;
    background-color: #ffffff85;
    padding: 20px 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    transition: 1s;
    -webkit-box-shadow: 1px 1px 14px 0px #005c4e4d;
}

.header-home-add{
    background-color: #0f9c85 !important;
    padding: 5px 10px !important;
}


.container-home .header-home img{
    width: 20%;
    height: auto;
    color: white;
}
.container-home .header-home a{
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
}
.container-home .header-home a:hover{
    background-color: #333;
    color: white;
    font-weight: bold;
}
.container-home .header-home .header-home-right{
    float: right;
}
.container-home .header-home .button-header-responsive{
    display: none;
}
.container-home .header-home .calculator-total-cost{
    display: block;
}
@media screen and (max-width: 600px){
    .container-home .header-home{
        overflow: hidden;
        background-color: #0f9c85;
        padding: 20px 10px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 20;
    }
    .container-home .header-home a{
        float: none;
        display: block;
        text-align: center;
        background-color: rgba(51, 51, 51, 0.096);
        color: white;
        user-select: none;
    }
    .container-home .totalTwo{
        display: initial;
        background-color: #4e9a06;
        padding: 5px;
        border-radius: 10px;
        border: solid 1px #33333348;
    }
    .container-home .totalTwo:hover{
        background-color: #4e9a06;
        border: none;
    }
    .container-home .header-home .calculator-total-cost{
        background-color: #4e9a06;
        display: none;
    }
    .container-home .header-home .calculator-total-cost:hover{
        background-color: #4e9a06;
        border: none;
    }
    .container-home .header-home .button-header-responsive{
        display: initial;
        margin-left: 5px;
        padding: 5px;
        border: solid 1px #33333348;
        border-radius: 10px;
        background-color: #4e9a06;
        cursor: pointer;
        user-select: none;
        float: right;
    }
    .container-home .header-home .button-header-responsive:hover{
        background-color: #376e03;
        color: white;
        border: solid 1px #4e9a06;
    }
    .container-home .header-home .header-home-right{
        float: none;
        display: none;
    }
    .showHeader{
        transform: rotate(180deg);
    }
    .responsiveHeaderHome{
        display: block;
        float: none;
    }
    .container-home .header-home img{
        width: 50%;
        margin-left: 10px;
        margin-right: auto;
    }
    .container-home .header-home a:hover{
        background-color: #069a8e;
        color: black;
        font-weight: bold;
        border-bottom: 4px solid black;
    }
}
/* /header home <-- */

/* --> progres bar */
.container-home .progress-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    background: #ccc;
}

.container-home .progress-container .progress-bar {
    height: 3px;
    background: #4e9a06;
    width: 0%;
}
/* <-- progres bar */


/* --> start page */
.container-home{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}
.container-home .container-home-parts{
    position: relative;
    margin: 0 auto;
}
.container-home .container-home-parts img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.container-home .container-home-parts .content-parts{
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 20px;
}
.container-home .container-home-parts .content-parts p a{
    cursor: pointer;
    color: #4e9a06;
    font-weight: bold;
}
@media screen and (max-width: 600px){
    .container-home .container-home-parts{
        margin-top: 50px;
    }
}
@media screen and (max-width: 360px){
    .container-home .container-home-parts{
        margin-top: 50px;
    }
}
@media screen and (max-width: 340px){
    .container-home .container-home-parts{
        margin-top: 60px;
    }
}
@media screen and (max-width: 300px){
    .container-home .container-home-parts{
        margin-top: 80px;
    }
}
@media screen and (max-width: 460px){
    .content-parts h1{
        text-align: center;
        font-size: 17px;
        font-weight: bold;
    }
    .content-parts p{
        text-align: center;
        font-size: 10px;
    }
    .container-home .container-home-parts .content-parts{
        padding: 5px;
    }
    .container-home .header-home img{
        width: 45%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* /start page <-- */



/* --> page thwo */
.container-home .container-row-descr{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 20px;
}
.container-home .container-column-dercr{
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
}
.totalTwo{
    display: none;
}
@media screen and (max-width: 1125px){
    .container-home .container-card{
        width: 90%;
    }
.container-home .container-row-descr h2{
        font-size: 20px;
    }
    .container-home .container-row-descr p{
        font-size: 10px;
    }
}
@media screen and (max-width: 1000px){
    
}
@media screen and (max-width: 800px){
    .container-home .container-column-dercr{
        width: 80%;
        display: block;
    }
    .container-home .container-row-descr{
        display: flex;
        flex-direction: column;
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media screen and (max-width: 450px){
    .container-home .container-column-dercr{
        width: 100%;
        display: block;
    }
    .container-home .container-row-descr{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

}
@media screen and (max-width: 250px){
    .container-home .container-row-descr h2{
        font-size: 10px;
    }
    .container-home .container-row-descr p{
        font-size: 5px;
    }
}
.container-home .container-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container-home .container-card img{
    width: 100%;
    height: auto;
}
.container-home .container-card .container-card-text{
    padding: 0 10px;
    margin-bottom: 10px;
    flex-grow: 1;
}
.container-home .container-card .container-card-text::after, .container-row-descr::after{
    content: "";
    clear: both;
    display: table;
}
.container-home .container-card .cart-text-button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #333;
    text-align: center;
    cursor: pointer;
    width: 100%;
   align-items: flex-end;
}
.container-home .container-card .cart-text-button:hover{
    background-color: white;
    color: #4e9a06;
    font-weight: bold;
    border: solid 1px #333;
}

/* MODAL */
 .modalContentClass{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
 .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


/* MODAL */




/* /page thwo <-- */



/* --> calculator */
.container-home .container-slider-home-margin{
    margin: 0px;
}

/* calculator <-- */



/* --> login part */
.container-home .login-image-home{
    position: relative;
    margin-top: 20px;
}
.container-home .login-image-home img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.container-home .login-image-home .login-text{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}
.container-home .login-image-home .login-text img{
    width: 100%;
    height: auto;
    margin-top: 37%;
}
.container-home .login-image-home .login-text button{
    border: none;
    border-radius: 5px;
    padding:15px;
    color: #333;
    background-color: #4e9a06;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-top: 7%;
    box-shadow: 2px 4px 1px 1px #e0e0e0;
    border: 1px solid #33333300;
}
.container-home .login-image-home .login-text button:hover{
    box-shadow: 2px 4px 1px 1px #333;
    border: 1px solid #333;
}
@media screen and (max-width: 500px){
    .container-home .login-image-home .login-text button{
        border: none;
        border-radius: 5px;
        padding: 5px;
        width: 200px;
        color: #333;
        background-color: #4e9a06;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        margin-top: 7%;
        box-shadow: 2px 4px 1px 1px #e0e0e0;
        border: 1px solid #33333300;
    }
}

/* /login part <-- */
/* --> scroll button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 99;
    font-size: 23px;
    border: none;
    outline: none;
    background-color: #4e9a06;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
  }
  
  #myBtn:hover {
    background-color: white;
    color: #4e9a06;
    box-shadow: 0px 0px 20px #4e9a06;
  }
/* <-- scroll button */


/* --> footer */
.container-home .footer-container{
    display: flex;
    cursor: pointer;
}
.container-home .footer-container a{
    text-decoration: none;
    color: #adaaaa;
}
.container-home .footer-container .footer-container-contact{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-align: left;
    font-size: 15px;
}
.container-home .footer-container .footer-container-contact span{
    margin-right: 10px;
}
.container-home .footer-container .footer-container-contact a{
    margin-bottom: 5px;
}
.container-home .footer-container .footer-container-contact a:hover{
    color: #4e9a06;
    text-shadow: 0px 0px 25px #4e9a06;
}
.container-home .footer-container.footer-container-condition .container-condition a:hover{
    color: #4e9a06;
    text-shadow: 0px 0px 25px #4e9a06;
}
.container-home .footer-container .footer-container-condition{
    align-self: center;
    flex-grow: 1;
    font-size: 13px;
}
.container-home .footer-container .footer-container-condition .container-condition a{
    margin-left: 30px;
}
/* .container-home .footer-container .footer-container-condition .container-condition a:hover, h:hover{
    color: #4e9a06;
    text-shadow: 0px 0px 25px #4e9a06;
} */
.container-home .footer-container .footer-container-condition .container-cc{
    margin-top: 15px;
}
.container-home .footer-container .footer-container-condition .container-cc a{
    color: #686868;
}
.container-home .footer-container .footer-container-condition .container-condition a:hover{
    color: #4e9a06;
    text-shadow: 0px 0px 25px #4e9a06;
}
.container-home .footer-container .footer-container-social{
    align-self: flex-end;
    text-align: left;
}
.container-home .footer-container .footer-container-social span{
    background-color: #d8d8d8;
    padding: 10px;
    border-radius: 50%;
    color: #333333e3;
    margin-right: 20px;
    font-size: 20px;
}
.container-home .footer-container .footer-container-social span:hover{
   color: #4e9a06;
   text-shadow: 0px 0px 25px white;
   box-shadow: 0px 0px 25px #4e9a06;
}
@media screen and (max-width: 1000px){
    .container-home .footer-container{
        flex-direction: column;
    }
    .container-home .footer-container .footer-container-contact{
        align-self: center;
    }
    .container-home .footer-container .footer-container-condition .container-condition a{
        margin-left: 5px;
    }
    .container-home .footer-container .footer-container-social{
        align-self: center;
    }
    .container-home .footer-container .footer-container-condition .container-cc{
        margin-top: 5px;
        margin-bottom: 10px;
    }
}
/* footer <-- */