<div class="forgotPassword-container-big">
    <span class="fa fa-close span-x" ui-sref="home"></span>
    <span class="fa fa-arrow-left span-back" ui-sref="logIn"></span>

    <img src="/Autentification/LogIn/Img-login/C4G-full-moto.png" alt="C4G-full-moto" class="forgotPassword-image">

    <div class="forgotPassword-container container">
            <h2>Forgot password</h2>
      <form name="form">
        <div class="form-group" ng-class="{'has-error': form.uname.$invalid && form.uname.$dirty}">
        <div class="forgotPassword-input-container">
          <i class="fa fa-envelope icon"></i>
            <input class="forgotPassword-input-filed" type="email" ng-model="emailAddress" placeholder="Enter email" class="form-control" ng-pattern="/^[A-Za-z0-9._@]*$/" name="uname" required>
            </div>
            <div class="help-block has-error">
              <div ng-show="form.uname.$error.required && form.uname.$dirty">This field is required!</div>
              <div ng-show="form.uname.$error.email || form.uname.$error.pattern">This email address is invalid!</div>
          </div>
      </div>

      <div class="form-group" ng-class="{'has-error': form.psw.$invalid && form.psw.$dirty}">
        <div class="forgotPassword-input-container">
            <i class="fa fa-key icon"></i>
            <input class="forgotPassword-input-filed" type="password" ng-model="password" placeholder="The last password you remember" class="form-control" ng-minlength="6" name="psw" required>
        </div>
        <div class="help-block has-error">
          <div ng-show="form.psw.$error.required && form.psw.$dirty">This field is required!</div>
          <div ng-show="form.psw.$error.minlength">The password must have at least 6 characters.</div>
        </div>
      </div>
      </form>
        <button type="button">Recover your password</button>

    </div>
</div>
