<div class="c-edit-network" ng-if="editNetworkDisplay">
            <span id="alert-error" ng-show="errorEdit"><p>{{message}}</p></span>

            <form class="c-content-edit-network" name="editForm" novalidate ng-class="{'has-error':editForm.inputName.$invalid && editForm.inputName.$dirty}">
                <input name="inputName" type="text" maxlength="30" placeholder="Edit the name of network" ng-pattern="/^[a-zA-Z 0-9 _-]+$/" 
                name-validation ng-keydown="$event.keyCode != 32 ? $event:$event.preventDefault()" autocomplete="off" ng-model="editName" ng-model-options="{ debounce: 250 }" required>

                <span class="help-block has-error">
                    <span ng-show="editForm.inputName.$error.required && editForm.inputName.$dirty">Name is required</span>
                    <span ng-show="editForm.inputName.$error.pattern">Please keep the Name format! Use only: 'a-z', 'A-Z', '0-9', '-', '_'.</span>
                    <span ng-show="!editForm.inputName.$valid && !editForm.inputName.$error.required && !editForm.inputName.$error.pattern">Please keep the Name format! Don't insert symbols one after another and before or after word, and word need min one letter.</span>
                </span>
            </form>
            <div class="a-edit-netwotk">
                <a ng-click="editNetwork(network.id, editName)">Save</a>
                <a ng-click="cancelEdit()">Close</a>
            </div>
</div>