
/* Card tutorial*/
.contaner-cardsAndTitle{
    padding-top: 100px;
    padding-bottom: 150px;
}
.container-bg2{
    width: 100%;
    height: auto;
    background-image: url("/Home/images-home/Logo-png-pises/LogoC4G_Header-with-BG-reflect-pises.svg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: cover;
}
.container-titleCards h1{
    text-align: center;
    font-family: "FontC4G";
    font-size: 25px;
    margin-bottom: 15px;
}
.container-cardsParrent{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    padding: 15px;
    border-top: 1px solid #33333346;
    border-bottom: 1px solid #33333346;
}
.container-header-logoIMG .carousel-inner video{
    height: auto;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.container-cardsParrent .container-cards {
    flex: 15%;
    padding: 0 4px;
    margin-left: 5%;
}
.container-cards .container-cardsChild {
    margin-top: 8px;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    height: auto;
    box-shadow: 6px 6px 9px -7px #00000071;
}
.container-cards .container-cardsChild:hover{
    transform: scale(1.15);
    transition: 0.3s;
    box-shadow: 7px 12px 9px -7px #000000;
}
.container-cards .container-cardsChild video{
    vertical-align: middle;
    height: auto;
    width: 100%;
}
@media screen and (max-width: 800px) {
    .container-cardsParrent .container-cards {
        flex: 25%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .container-cardsParrent .container-cards {
        flex: 100%;
        max-width: 70%;
        margin-left: 18%;
    }
}
/* Card tutorial*/

/*Video tutorial */
#containerVideo1, #containerVideo2, #containerVideo3, #containerVideo4, #containerVideo5, #containerVideo6, #containerVideo7, #containerVideo8{
    display: none;
}

#containerVideo1{
    display: none;
}
.container-row-descr{
    background-color: #d9534f !important;
}
.container-row-descr .container-video{
    position: fixed; /* Stay in place */
    z-index: 100;
    padding: 20px;
    right: 20%;
    top: 13%;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    overflow: auto;
    background: -webkit-linear-gradient(-60deg, 
    #77ab88 0%, #77ab88 25%, 
    #308f58 25%, #308f58 100%); 
}
.container-video::-webkit-scrollbar {
    width: 0px;
}
.container-row-descr .container-video .span-video{
    position: fixed;
    top: 18px;
    right: 24px;
    color: #d9534f;
    font-size: 30px;
    cursor: pointer;
}
.container-row-descr .container-video .span-video:hover{
    color: #ff4640;
    text-shadow: 0px 0px 5px #000000;
}
.container-row-descr .container-video video{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    box-shadow:  2px 4px 10px 1px #e0e0e0;
}
.container-row-descr .container-video img{
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.container-videoBG{
    background-color: white;
    padding: 10px;
    font-family: "FontC4G";
    height: auto;
    width: 70%;
    margin: auto;
}
.container-videoBG h1{
    text-align: center;
    font-family: "FontC4G";
    font-size: 25px;
}
.container-videoBG p{
    font-size: 13px !important;
}
@media screen and (max-width: 750px){
    .container-videoBG{
        width: 100%;
    }
}
/*Video tutorial  */
