<div class="buttons" ng-controller="clickCtrl as vm">  <!-- home/categories/set -->
    <div><i ui-sref="index" class="rel fa icon fa fa-home" title="home" ng-click="vm.myStyle(1)" ng-style="vm.Style1"><a>Home</a></i></div>
    <div><i ui-sref="categories" class="rel fa fa-indent" title="categories" ng-click="vm.myStyle(2)" ng-style="vm.Style2"><a  ui-sref="menu" >Categories</a></i></div>
    <div><i class="rel fa fa-cog" title="settings" ng-click="vm.myStyle(3)" ng-style="vm.Style3"><a>Settings</a></i></div>
</div>