@font-face{
    font-family: myFont;
    src: url(/font/Helmet-Regular.ttf);
}
 body{
     margin: 0px;
    }
.header{
    background-color: gray;
}
.swiss{
    width: 115px;
}
/*butoanele back+refersh*/
.reloadFlex{
    position: absolute;
    z-index: 1;
    right: 6px;
    top: 20px;
}
.allb{
   background-color: rgb(122, 121, 121);
}

/*icon*/  
.fa{
    font-size: 40px !important;
    color: #b38867;
    cursor: pointer;
    padding: 2px;
    padding-left: 3px;
}

    /* active */
.rel:active{
    width: 90%;
    font-size: 41px !important;
    color: #656565;
    background-color: #ddbc95;
}
.allb:active{
    background-color: #ddbc95;
}
.black:active{
    color:#000000ab; 
}
    /* active */

.buttonsGrid{
    background-color: #8a8989;
    display: flex;
    height: 579px;
    font-family: myFont;
    font-size: 20px!important;
}

.left{
    background-color: #656565;
    
}
.gridScroll{
    overflow: auto !important;
    height: 579px;
    margin: 0px 5px 0px;
}
@media ( min-height: 650px ){
    .buttonsGrid{
        height: 891px;
    }
    .gridScroll{
        height: 891px;
    }
}
.categories{
    background-color: #101014ab;
}
.sensorDistance{
    text-transform: uppercase;
    margin-left: 450px;
}
.sensorSet input, button{
    font-family: myFont;
    font-size: 15px;
    border: solid 1px #926440; 
    background-color: #bb8f6d; 
    cursor: pointer;
    padding:5px 20px 5px;

}
.title{
    display: flex;
}
.list{
    display: flex;
    flex-direction: row-reverse;
    overflow: auto;
    max-height: 445px;
    background-color: honeydew;
}
.measureList{
    flex-grow: 1;
    flex-direction: column;
}
.title .list, p{
    border: solid 1px  #ddbc95; 
    padding: 5px;
    margin: 0px;
}



.sensorSet button:active{
    background-color: #ddbc95;
}

/* Humidity */

.humidityTable{
    border-collapse: collapse;
    
}
.humidityListMeasure{
    display: flex;
}
.humidity{
    overflow: auto;
    max-height: 575px;
    background-color: whitesmoke;
}
.tableBodyHumidity{
    
}
.humidityMeasure{
    overflow: auto;
    max-height: 575px;
    background-color: whitesmoke;
    flex-grow: 0;
}
@media ( min-height: 650px ){
    .list{
        height: 800px;
    }
    .humidity{
        max-height: 885px;
    }
}

.tableHeadHumidity {
    background-color: #ddbc95;
 
}
.tableBodyHumidity td{
    border: solid 1px  #ddbc95; 
}


::-webkit-scrollbar {
      /* remove scrollbar space */
    width: 0px;

}






/* grid devexpress */
.dx-datagrid-content .dx-datagrid-table, .title{ 
    color: #000000!important;
} /* culoare text grid */

.dx-datagrid-text-content{
    text-transform: uppercase;
    font-weight: bold!important;
    font-size: 16px;
    text-align: left!important;
}
.dx-icon{
    color: #979595!important;
    font-weight: bold!important;
}
.dx-button{
    border-color:#ddbc95!important; 
}
 /*Add button */
.dx-datagrid .dx-link{
    text-decoration: none!important;
}
.dx-link-edit{
    color: #c6dd95!important;
}
.dx-link-delete{
    color: #ce877b!important;
} /* text edit-delete */
.dx-texteditor{
    border:1px solid #ddbc95!important;
}
/* search */
.dx-datagrid-group-closed:before{
    color:#b38867;
}
.dx-datagrid-group-opened:before{
    color:#b38867;
}/*sageata show measurements*/
 .dx-datagrid-headers .dx-datagrid-table .dx-row > td, .title{
    background-color: #ddbc95;
    border-color: #ddbc95!important;
}
.dx-datagrid .dx-row-lines > td{
    border-color: #ddbc95!important;
}
.dx-datagrid-rowsview .dx-row > .dx-master-detail-cell{
    padding: 0px!important;
}
.dx-widget{
    margin: 0px!important;
}
.dx-pager .dx-pages .dx-page{
    font-weight: bold!important;
    font-size: 16px;
    font-family: myFont!important;
    background-color: #656565!important;
}

/* grid devexpress */