<button ng-click="vm.collapseRegister()">Add sensor</button>
<button ng-click="vm.collapseEdit()">Edit sensor</button>
<table >
    <tr class="sensorSet" ng-show="vm.collapsedRegister">
        <td><input ng-model="registerProductionDate" type="text" placeholder="ProductionDate"></td>
        <td><input ng-model="registerUploadInterval" type="text" placeholder="UploadInterval"></td>
        <td><input ng-model="registerBatchSize" type="text" placeholder="BatchSize"></td>
        <td ><button ng-click="vm.sensorRegister(registerProductionDate, registerUploadInterval, registerBatchSize)">Register</button></td>
    </tr>
</table>
<table class="sensorSet">
        <tr  ng-show="vm.collapsedEdit">
            <td><input ng-model="editProductionDate" type="text" placeholder="ProductionDate"></td>
            <td><input ng-model="editUploadInterval" type="text" placeholder="UploadInterval"></td>
            <td><input ng-model="editBatchSize" type="text" placeholder="BatchSize"></td>
            <td><input ng-model="sensorId" type="text" placeholder="SensorId"></td>
            <td><button ng-click="vm.sensorEdit(editProductionDate, editUploadInterval, editBatchSize, sensorId)">Edit</button></td>
        </tr>
</table>

<div class="distanceDistance">

 <div class="distanceListMeasure">
     <div class="distance">
            <table class="distanceTable">
                <tr class="tableHeaddistance" >
                    <td>Nr</td>
                    <td>Prod Date</td>
                    <td>Up Int</td>
                    <td>B Size</td>
                    <td>S TypeId</td>
                    <td>Id</td>
                    <td></td>
                </tr>
                <tr class="tableBodydistance" ng-repeat="sensor in vm.sensors" ng-show="vm.collapsedSensors">
                    <td >{{$index+1}}</td>
                    <td>{{sensor.productionDate}}</td>
                    <td>{{sensor.uploadInterval}}</td>
                    <td>{{sensor.batchSize}}</td>
                    <td>{{sensor.sensorTypeId}}</td>
                    <td>{{sensor.id}}</td>
                    <td>
                        <button ng-click="vm.measurementSensor(sensor.id)">Measurement</button>
                        <delete-sensor></delete-sensor>
                    </td>
                </tr>
            </table>
            <button ng-click="vm.pagination(false)">Back pag</button>
            <button ng-click="vm.pagination(true)">Next pag</button>
        </div>  
        <div class="distanceMeasure">  
            <table class="distanceTable">
                <tr class="tableHeaddistance">
                    <td>{{Index}}</td>
                    <td>S Id</td>
                    <td>Val</td>
                    <td>Id</td>
                </tr>
                <tr class="tableBodydistance" ng-repeat="measurementSensor in vm.measurementSensors" ng-show="vm.collapsedMeasurements">
                    <td>{{$index+1}}</td>
                    <td>{{measurementSensor.sensorId}}</td>
                    <td>{{measurementSensor.value}}</td>
                    <td>{{measurementSensor.id}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="sensorDistance">    
        <form class="sensorSet">
            <input ng-model="quantity" type="text" placeholder="Number of rows">
            <button ng-click="vm.quantitySet(quantity)">Set</button>
        </form>
        
            <div class="sensorView">
                <div class="title">
                    <p class="borderB">S1 in Cm</p>
                    <p class="borderC">S2 in Cm</p>
                </div>
                <div class="list">
                    <div class="measureList"><p ng-repeat="s1 in vm.sensor1 | limitTo:vm.qs">{{s1.value}}</p></div>
                    <div class="measureList"><p ng-repeat="s2 in vm.sensor2 | limitTo:vm.qs">{{s2.value}}</p></div>
                </div>
            </div>
    </div>
    
</div>
