.loaderGray{
    position: absolute!important;
    top: 0px!important;
    left: 0!important;
    width: 100vw!important;
    height: 100vh!important;
    background-color: white!important;
    z-index: 0;
}
.table-overflow{
    overflow-x: auto;
}
.btn-success, .btn-success:hover{
background-color:#4e9a06;
}
.distanceList{
    position: relative;
    margin-top:30px;
}
.distanceList table{
    text-align:center;
}
.distanceList thead{
    font-size: 15px;
    font-weight: 600;
}
.distanceList tbody{
    font-size: 12px;
}
.distanceListContainerInfo button{
    width:35px;
}
.distanceList .subTable{
    padding:20px;
    border-style: solid ;
    border: solid 1px #4e9a06;
    border-top: solid 5px #4e9a06;
    box-shadow: inset 0px 0px 10px grey;
    border-collapse: collapse;
    border-spacing: 0;
}
.registerDisplay{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}
.bg-table{
    position: relative;
}

.checkbox-inline{
    position: absolute;
    left: 500px;
    top: -10px;
    user-select: none;
}

.checkbox-inline-a{
    position: absolute;
    left: 540px;
    top: -6px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    user-select: none;
}
.checkbox-inline-a:hover{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.registerDisplay input{
    margin-bottom:10px;
}
.registerSensorButton{
    margin-bottom:10px;
}
.deleteDisplay{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    font-size:20px;
    color:red;
}
.deleteDisplay button{
    margin-top:30px;
}
.editDisplay{
    justify-content: center;
    display:flex;
}
.editDisplay{
    text-align: left;
}
.editDisplay input{
    margin-bottom:10px;
}
.measurementsDisplay .measurementsContainerSet{
    display:flex;
    justify-content: center;
}
.measurementsDisplay .measurementsContainerSet label{
    display:flex;
    width:100px;
}
.measurementsDisplay .measurementsContainerSet input{
    display:flex;
    width:100px;
}
.measurementsDisplay table{
    text-align: center;
}
.measurementsContainerSet button{
    display: flex;
    flex-direction: row;
    height:34px;
    margin-top:0px;
}
.measurementsTotalReadings{
    display: flex;
    font-size:17px;
}
.measurementsContainerNavigation{
    display:flex;
}
.chartDisplay input{
    margin-left:-15px!important;
    margin-top:2px;
}
.noData{
    text-align: center;
    padding:30px;
    color:red;
    font-weight:600;
    font-size: 16px;
}
.line {
    fill: none;
    stroke: #4e9a06;
    stroke-width: 1.5px;
}
.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}
.tick line{
    opacity: 0.2;
}
.dot {
    fill: #4e9a06;   
    opacity: 2;
}
.legend{
    padding: 5px;
    font: 10px sans-serif;
    box-shadow: 2px 2px 1px #888;
}