<div class="btn-group" id="collapseButton">

    <!-- Button Add sensor modal -->
    <button type="button" class="btn btn-primary" ng-click="vm.collapseRegister()" data-toggle="modal" data-target="#exampleModalCenter1"><span class="glyphicon glyphicon-plus-sign"></span>Add sensor</button>
    <!-- Modal Add sensor-->
    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add sensor view</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table >
                <tr class="form-horizontal">
                    <td><input class="form-control" id="focusedInput" ng-model="registerProductionDate" type="text" placeholder="ProductionDate"></td>
                    <td><input class="form-control" id="focusedInput" ng-model="registerUploadInterval" type="text" placeholder="UploadInterval"></td>
                    <td><input class="form-control" id="focusedInput" ng-model="registerBatchSize" type="text" placeholder="BatchSize"></td>
                    <td><input class="form-control" id="focusedInput" ng-model="registerGatewayAddress" type="text" placeholder="GatewayAddress"></td>
                    <td><input class="form-control" id="focusedInput" ng-model="registerClientAddress" type="text" placeholder="ClientAddress"></td>
                </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary fa fa-check-square-o" data-dismiss="modal" ng-click="vm.sensorRegister(registerProductionDate, registerUploadInterval, registerBatchSize, registerGatewayAddress, registerClientAddress)">Register</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Button Live view modal -->
    <button type="button" class="btn btn-primary fa fa-calendar" ng-click="vm.collapseEdit()" data-toggle="modal" data-target="#exampleModalCenter5">Live view</button>
    <!-- Modal Live view-->
    <div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Live view menu</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="input-group">
                <button type="button" class="btn btn-primary glyphicon-cog" ng-click="vm.quantitySet(quantity)">Set</button>
                <input id="msg" ng-model="quantity" type="text" class="form-control" name="msg" placeholder="Number of rows">
            </div>
            <div class=" title">
               <table class="table table-bordered table-hover">
                    <thead>
                      <tr class="warning">
                        <th scope="col">Sensor 1 in CM</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="s1 in vm.sensor1 | limitTo:vm.qs">
                      <tr> 
                        <td>{{s1.value}}</td>
                      </tr>
                    </tbody>
                </table>
                 <table class="table table-bordered table-hover">
                    <thead>
                      <tr class="warning">
                        <th scope="col">Sensor 2 in CM</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="s2 in vm.sensor2 | limitTo:vm.qs"{{s2.value}}>
                      <tr> 
                        <td>{{s2.value}}</td>
                      </tr>
                    </tbody>
                </table>
              </div>      
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
</div>

<div class="distanceDistance">
<div class="bigTable">
        <table class="table table-bordered table-hover">
                <thead>
                  <tr class="warning">
                    <th scope="col">Index</th>
                    <th scope="col">GatewayAddress</th>
                    <th scope="col">ClientAddress</th>
                    <th scope="col">ProductionDate</th>
                    <th scope="col">UploadInterval</th>
                    <th scope="col">BatchSize</th>
                    <th scope="col">SensorTypeID</th>
                    <th scope="col">ID</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody  class="scrollbar" ng-repeat="sensor in vm.sensors">
                  <tr data-spy="scroll">
                    <th scope="row">{{$index+1}}</th>
                    <td>{{sensor.gatewayAddress}}</td>
                    <td>{{sensor.clientAddress}}</td>
                    <td>{{sensor.productionDate}}</td>
                    <td>{{sensor.uploadInterval}}</td>
                    <td>{{sensor.batchSize}}</td>
                    <td>{{sensor.sensorTypeId}}</td>
                    <td>{{sensor.id}}</td>
                    <td>

                        <!-- Button measurement modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter3" ng-click="vm.measurementSensor(sensor.id)">Measurement</button>

                            <!-- Modal measurement -->
                            <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Measurement view</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="distanceMeasure">  
                                            <table class="distanceTable">
                                                <tr>Sensor ID: <span style="color:red;">{{vm.sId.id}}</span></tr>
                                                <tr class="tableHeaddistance">
                                                    <td>Index</td>
                                                    <td>Reading Date</td>
                                                    <td>Val</td>
                                                    <td>Id</td>
                                                </tr>
                                                <tr class="tableBodydistance" ng-repeat="measurementSensor in vm.measurementSensors">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{measurementSensor.readingDate}}</td>
                                                    <td>{{measurementSensor.value}}</td>
                                                    <td>{{measurementSensor.id}}</td>
                                                </tr>
                                            </table>
                                            <span ng-show="vm.noDataMeasurements" style="color:red;">No data.</span>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <delete-sensor></delete-sensor>
                        <edit-sensor></edit-sensor>
                    </td>
                </tr>
            </table>
            <ul class="pager">
              <li class="previous"><a href="#" ng-click="vm.pagination(false)">Previous</a></li>
              <li class="next"><a href="#" ng-click="vm.pagination(true)">Next</a></li>
            </ul>    
        </div>  
    </div>

        
    </div>

    
</div>