<div class="editDisplay" ng-show="editDisplay">
    <div class="col-md-3">
        <label>Upload Interval:</label>
        <input type="text" class="form-control" ng-model="editUploadInterval">
        <label>Batch Size:</label>
        <input type="text" class="form-control" ng-model="editBatchSize">
        <button type="button" class="btn btn-success" ng-click="sensorEdit(editUploadInterval, editBatchSize, sensor.gatewayAddress, sensor.clientAddress, sensor.id)">Edit</button>
        <button type="button" class="btn btn" ng-click="cancelEditSensor()">Cancel</button>
    </div>
</div>