<div class="measurementsDisplay" ng-show="measurementsDisplay">
    <div ng-show="loadingMeasurements" class="loader"></div>
    <div ng-show="noDataMeasurements" class="noData">No data</div>
    <div ng-show="dataMeasurements">
        <div class="measurementsContainerSet">
           <form class="form-group inLine" name="form" novalidate>
                <div class="form-group inLine" ng-class="{'has-error': form.input.$invalid && form.input.$dirty}">
                    <label>Number of readings:</label>
                    <input name="input" type="number" min="1" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" ng-model="pageSize" />
                    <span class="help-block has-error">
                        <span ng-show="form.input.$error.number">Page Size must be a number</span>
                    </span>
                </div>
                <button type="button" class="btn btn" ng-click="setPageSize(pageSize)">Set</button>
            </form>
        </div>
        <div class="measurementsTotalReadings">
        <label>Total Readings: {{totalReadings}}</label>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <td>Index</td>
                    <td>Reading Date</td>
                    <td>Val</td>
                    <td>Id</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="measurementSensor in measurementSensors">
                    <div></div>
                    <td>{{$index+1}}</td>
                    <td>{{measurementSensor.readingDate}}</td>
                    <td>{{measurementSensor.value}}</td>
                    <td>{{measurementSensor.id}}</td>
                </tr>
            </tbody>
        </table>
        <div class="measurementsContainerNavigation">
            <button type="button" class="btn btn-default" ng-click="paginationReadings(false)" ng-show="backr">< Previous</button>
            <button type="button" class="btn btn-default" ng-click="paginationReadings(true)" ng-show= "nextr">Next ></button>
        </div>
    </div>
    <button type="button" class="btn btn" ng-click="cancelMeasurements()">Cancel</button>
</div>