<div class="measurementsDisplay" ng-show="measurementsDisplay">
    <div ng-show="loadingMeasurements" class="loader"></div>
    <div ng-show="noDataMeasurements" class="noData">No data</div>
    <div ng-show="dataMeasurements">
        <button type="button" class="btn btn-success refreshMeasurements" ng-click="measurementSensor(sensor.gatewayAddress, sensor.clientAddress)">Refresh</button>
        <div  class="form-group measurementsContainerSet">
           <!-- <form class="form-group inLine" name="form" novalidate>
                <div class="form-group inLine" ng-class="{'has-error': form.input.$invalid && form.input.$dirty}">
                    <label>Number of readings:</label>
                    <input name="input" type="number" min="1" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" ng-model="pageSize" />
                    <span class="help-block has-error">
                        <span ng-show="form.input.$error.number">Page Size must be a number</span>
                    </span>
                </div>
                <button type="button" class="btn btn" ng-click="setPageSize(pageSize)">Set</button>
            </form> -->
            <label>Number of readings:</label>
            <select class="form-control"  ng-model="pageSize" ng-click="setPageSize(pageSize)">
                <option selected disabled hidden value="">10</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="40">40</option>
                <option value="60">60</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>
        </div>
        <div class="measurementsTotalReadings">
            <label>Total Readings: {{totalReadings}}</label>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <td>Index</td>
                    <td>Reading Date</td>
                    <td>Val</td>
                    <td>Id</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="measurementSensor in measurementSensors">
                    <div></div>
                    <td>{{$index+1}}</td>
                    <td>{{measurementSensor.readingDate}}</td>
                    <td>
                        <div class="measurementsOk" ng-if="(measurementSensor.value < 400) && (measurementSensor.value > 0)">{{measurementSensor.value}}</div>
                        <div class="measurementsOutOfRange" ng-if="measurementSensor.value > 400">OoR</div>
                        <div class="measurementsInvalidSensor" ng-if="measurementSensor.value == 0">IS</div>
                    </td>
                    <td>{{measurementSensor.id}}</td>
                </tr>
            </tbody>
        </table>
        <div paging page="currentPage" total="totalReadings" page-size="size" show-prev-next="true" show-first-last="true" ul-class="pagination" active-class="active" disabled-class="disabled" ></div>
      </div>
    <button type="button" class="btn btn" ng-click="cancelMeasurements()">Cancel</button>
</div>
