<div class="forgotPassword-container-big">
    <span class="fa fa-close span-x" ui-sref="home"></span>
    <span class="fa fa-arrow-left span-back" ui-sref="logIn"></span>

    <img src="/Home/images-home/C4G-logo-BG-white-2.svg" alt="C4G-full-moto" class="forgotPassword-image">

    <div class="forgotPassword-container container">
            <h2>Validation code</h2>
            <div ng-show="errorMsg" id="alert-error"><p>{{error}}</p></div>
      <form name="form">
        <div class="form-group" ng-class="{'has-error': form.uname.$invalid && form.uname.$dirty}">
        <div class="forgotPassword-input-container">
            <i class="fa fa-envelope icon"></i>
            <input class="forgotPassword-input-filed" type="email" ng-model="emailAddress" placeholder="Enter email" class="form-control" ng-pattern="/^[A-Za-z0-9._@]*$/" name="uname" required>
        </div>
            <div class="help-block has-error">
              <div ng-show="form.uname.$error.required && form.uname.$dirty">This field is required!</div>
              <div ng-show="form.uname.$error.email || form.uname.$error.pattern">This email address is invalid!</div>
          </div>
      </div>

      </form>
        <button type="button" ng-click="sendCode(emailAddress)">Send code</button>

    </div>
</div>