<div class="login-container-big">
    <img class="sign-icon back" src="/Home/images-home/Icons/Back1.0.svg"  ui-sref="logIn" alt="Check4Green original icon" title="Back">
    <img class="sign-icon" src="/Home/images-home/Icons/Close1.0.svg" ui-sref="home" alt="Check4Green original icon" title="Close">

    <div class="c-login-parrent">
            <img src="/Home/images-home/Home-page/Check4Green-logoPP.svg" alt="Check4Green original logo">

      <div class="c-login-form" name="form">
            <span ng-show="errorMsg" id="alert-error"><p>{{error}}</p></span>

          <div class="f-group" ng-class="{'has-error': form.uname.$invalid && form.uname.$dirty}">
            <input class="forgotPassword-input-filed" type="email" ng-model="emailAddress" placeholder="Enter email" class="form-control" ng-pattern="/^[A-Za-z0-9._@]*$/" name="uname" required>
          
            <div class="error-style">
                <div ng-show="form.uname.$error.required && form.uname.$dirty"><p>This field is required!</p></div>
                <div ng-show="form.uname.$error.email || form.uname.$error.pattern"><p>This email address is invalid!</p></div>
            </div>
          </div>
      </div>
      
      <div class="c-login-register">
        <a ng-click="sendCode(emailAddress)">Send code</a>
      </div>

    </div>
</div>