<p style="color:white;">Sensors Register</p>
<form>
    <table class="humidityTable">
        <tr class="tableHeadHumidity">
            <td>ProductionDate</td>
            <td>UploadInterval</td>
            <td>BatchSize</td>
            <td></td>
        </tr>
        <tr class="tableBodyHumidity">
            <td><input ng-model="registerProductionDate" type="text" placeholder="ProductionDate"></td>
            <td><input ng-model="registerUploadInterval" type="text" placeholder="UploadInterval"></td>
            <td><input ng-model="registerBatchSize" type="text" placeholder="BatchSize"></td>
            <td ><button ng-click="vm.sensorRegister(registerProductionDate, registerUploadInterval, registerBatchSize)">Register</button></td>
        </tr>
    </table>
</form>
<p style="color:white;">Sensors Edit</p>
<form>
    <table class="humidityTable">
        <tr class="tableHeadHumidity">
            <td>ProductionDate</td>
            <td>UploadInterval</td>
            <td>BatchSize</td>
            <td>Id</td>
            <td></td>
        </tr>
        <tr class="tableBodyHumidity">
            <td><input ng-model="editProductionDate" type="text" placeholder="ProductionDate"></td>
            <td><input ng-model="editUploadInterval" type="text" placeholder="UploadInterval"></td>
            <td><input ng-model="editBatchSize" type="text" placeholder="BatchSize"></td>
            <td><input ng-model="sensorId" type="text" placeholder="SensorId"></td>
            <td><button ng-click="vm.sensorEdit(editProductionDate, editUploadInterval, editBatchSize, sensorId)">Edit</button></td>
        </tr>
    </table>
</form>
<p style="color:white;">Distance sensors</p>
<table class="humidityTable">
    <tr class="tableHeadHumidity">
        <td>ProductionDate</td>
        <td>UploadInterval</td>
        <td>BatchSize</td>
        <td>SensorTypeId</td>
        <td>Id</td>
        <td></td>
    </tr>
    <tr class="tableBodyHumidity" ng-repeat="sensor in vm.sensors">
        <td>{{sensor.productionDate}}</td>
        <td>{{sensor.uploadInterval}}</td>
        <td>{{sensor.batchSize}}</td>
        <td>{{sensor.sensorTypeId}}</td>
        <td>{{sensor.id}}</td>
        <td><button ng-click="vm.measurementSensor(sensor.id)">Measurement</button>
            <button ng-click="vm.deleteSensor(sensor.id)">Delete</button>
        </td>
    </tr>
</table>
<p style="color:white;">Measurements distance</p><p></p>
<table class="humidityTable">
    <tr class="tableHeadHumidity">
        <td>SensorId</td>
        <td>Value</td>
        <td>Id</td>
    </tr>
    <tr class="tableBodyHumidity" ng-repeat="measurementSensor in vm.measurementSensors">
        <td>{{measurementSensor.sensorId}}</td>
        <td>{{measurementSensor.value}}</td>
        <td>{{measurementSensor.id}}</td>
    </tr>
</table>
