<div class="c-sensors-view margin-top" ng-show ="!loading">

    <div  class="c-inside-body-sensors">
        <div class="header-sensors-card">
            <div class="header-c-top">
                <img src="/Home/images-home/Icons/Back1.0.svg"  ng-click="back()" ng-if ="backButton"  alt="Check4Green Icons" title="Back">
                <img src="/Home/images-home/Icons/Back1.0.svg" ng-if="detailsData && backButton" alt="Check4Green Icons" title="Back" ng-click="hideDetails()">

                <h1 ng-if="!detailsData">You are in: <b>{{networkName}}</b></h1>
                <h1 ng-if="detailsData">You are in: <b>{{gateway.name}}</b></h1>

            </div>
            <div class="filters-sensors" ng-if="!detailsData">
                <div class="ceckbox-sensors">
                <p>Total gateways: <b>{{totalGateways}}</b></p>
                <p>Active: <b style="color: #5cb85c;">{{countActiveGateways}}</b></p>
                <p>Inactive: <b style="color: #d9534f;">{{countInactiveGateways}}</b></p>
                <label class="ceckbox-sensors-no">Devices per page:<input type="number" id="pageSize" style="width: 40px;" onkeydown="javascript: return event.keyCode == 69 ? false : true" min="1" max="500" ng-model="vm.gatewaysPerPage"></label>
                </div>
                
                <label class="ceckbox-sensors">
                    Show active gateways
                  <input id="active" type="checkbox" ng-model="value" ng-click="showActiveGateways(value)">
                  <span></span>
                </label>

            </div>
            <div class="search-c">
                <search-gateway></search-gateway>
            </div>

            <a id="addSensorB" ui-sref="sensorsHome.addGateway"><i class="fas fa-plus"></i>Add gateway</a>

        </div>
        

        <div ng-show="loadingGateways" class="loader"></div>
        <div class="noData" ng-show="noGateways">Currently you don't have any gateways on this network. Go to <a style="text-decoration: none;">Add gateway</a> to register one</div>
        <div class="noData" ng-show="gatewayServerError">An error occured. Please try again later.</div>

        <div class="c-aranjament" ng-if="!loadingGateways">
            <div class="c-column" ng-if="!detailsData" ng-repeat= "gateway in filterGateways = gateways | limitTo: vm.gatewaysPerPage: vm.gatewaysPerPage*(vm.currentPage-1)">
                <div class="c-card">
                    <div class="c-title-network-2" ng-show="!editDisplay && !deleteDisplay && !showSensors">
                        <a class="padding"> {{ ($index + 1) + (vm.currentPage - 1) * vm.gatewaysPerPage }}. {{gateway.name}}</a>
                        <span class="fa fa-circle" ng-if="gateway.active == true" style="color: #58FF5E;"></span>
                        <span class="fa fa-circle" ng-if="gateway.active == false" style="color: #FB3030;"></span>
                    </div>
                    <div class="c-title-network-2">
                        <a class="blue" ng-click="startDetails(); vm.expandSelected(gateway); showDetails(gateway); getgateway(gateway.id); ">
                            Show gateway details<i class="fas fa-chevron-down"></i></a>
                    </div>
                
                </div>
            </div>
            <div class="c-details" ng-if="detailsData">
                <div class="header-details">
                    <a id="gatewayDetails" ng-click="startDetails();">{{gateway.name}}</a>
                    <a id="hideDetailsButton" ng-click="hideDetails()" >Hide gateway details <i class="fas fa-chevron-up"></i></a>
                    <a id="sensorsButton" class="blue" ng-click="showGatewaySensors(gateway);"> Sensors</a>
                    <a id="editGatewayButton" class="blue" ng-click="startEdit(gateway)" > Edit</a>
                    <a id="deleteGatewayButton" class="blue" ng-click="startDelete(gateway);"> Delete</a>
                    <a id ="editGatewayLocBtn" class="blue" ng-click="getgateway(gateway.id); startEditLoc();"> Map</a>
                </div>
                    
                <div class="c-content-details">
                    <delete-gateway></delete-gateway>
                    <edit-gateway></edit-gateway>
                    <gateway-sensors></gateway-sensors>
                    <edit-loc></edit-loc>
                    <details-gateway></details-gateway>
                </div>
                    
            </div>

                <div ng-show="(!filterGateways.length && !loadingGateways && gatewayData)" id="alert-error"><p>No result</p></div> 
                
            </div>
            <div ng-show="!detailsData" paging page="vm.currentPage" page-size="vm.gatewaysPerPage" total="vm.allGateways" show-prev-next="true" show-first-last="true" ul-class="pagination" active-class="active" disabled-class="disabled" ng-show="gatewayData"></div>
        </div>
</div>

