<div class="measurementsDisplay" ng-show="showSensors" id="line">
        <div ng-show="loadingSensors" class="loader"></div>
        <div ng-show="noSensors" class="noData">No data</div>
        <table class="table" ng-show="!loadingSensors && !noSensors">
            <thead>
                <tr>
                    <td>Index</td>
                    <td>Name</td>
                    <td>Address</td>
                    <td>Last Reading Date</td>
                    <td>Active</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sensor in gatewaySensors">
                    <div></div>
                    <td>{{$index+1}}</td>
                    <td>{{sensor.name}}</td>
                    <td>{{sensor.address}}</td>
                    <td>{{sensor.lastReadingDate}}</td>
                    <td>
                        <span class="label label-success" ng-if="sensor.active == true">Active</span>
                        <span class="label label-danger" ng-if="sensor.active == false">Inactive</span>
                    </td>
                    
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn" ng-click="cancel()">Cancel</button>

</div>
