/* --> total const in header */
.container-home .header-home .header-home-right .calculator-total-cost{
    background-color: #4e9a06;
    margin-right: 10px;
    padding: 5px;
    margin-top: 7px;
    border: 1px solid #333;
}
.container-home .header-home .header-home-right .calculator-total-cost span{
    font-weight: bold;
    color: white;
    font-size: 15px;
}
.container-home .header-home .header-home-right .calculator-total-cost:hover{
    font-weight: initial;
    color: #333;
}
.container-home .header-home-hover-cost{
    position: relative;
}
.container-home .header-home-hover-cost:hover .hover-total-cost{
    display: block;
}
.container-home .header-home-hover-cost .hover-total-cost{
    position: absolute;
    top: 50px;
    right: 5px;
    color: white;
    background-color: black;
    height: auto;
    padding: 15px;
    width: 200px;
    z-index: 129320;
    display: none;
}
/* /total const in header <--*/



/* --> cristina */
.container-range-bar .container-slide .slider-calculator {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 10px;
}

.container-range-bar .container-slide .slider-calculator:hover {
    opacity: 1;
}

.container-range-bar .container-slide .slider-calculator::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4e9a06;
    cursor: pointer;
}

.container-range-bar .container-slide .slider-calculator::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4e9a06;
    cursor: pointer;
}
/* cristina <--*/



/* --> aranjare  */
.container-range-bar .container-slide{
    border-style: solid;
    border-color:  rgba(51, 51, 51, 0.274);
    border-width:  1px 0px 1px 0px;
    padding: 30px;
    background-color: #8f8f8f1a;
}
.container-range-bar .container-slide .row-text-calculator{
    display: flex;
    justify-content: center;
}
.container-range-bar .container-slide .row-text-calculator p{
    width: 250px;
}
.container-range-bar .container-slide .row-text-calculator input{
    width: 500px;
}
@media  screen and (max-width: 750px){
    .container-range-bar .container-slide .row-text-calculator{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media  screen and (max-width: 561px){
    .container-range-bar .container-slide .row-text-calculator input{
        width: 100%;
    }
}
/* aranjare <-- */
