<div>
    <div class="legend-measurement" ng-show="legend">
        <a2 style="font-weight: bold;">Legend: </a2>
        <span class="fa fa-circle" style="color: #4e9a06;"></span><a1>Air Quality</a1>
        <span class="fa fa-circle" style="color: red;"></span><a1>Temperature</a1>
        <span class="fa fa-circle" style="color: blue;"></span><a1>Distance</a1>
        <span class="fa fa-circle" style="color: black;"></span><a1>Electrical Current</a1>
        <span class="fa fa-circle" style="color: #bd611f;"></span><a1>Vibrations</a1>
        <span class="fa fa-circle" style="color: #FFFF00;"></span><a1>Pressure</a1>
        <span class="fa fa-circle" style="border-radius: 100%; border:1px solid #000000; color: rgb(255, 255, 255); " ng-if="gate"></span><a1 ng-if="gate">Gateway</a1>

    </div>
    <div id="map"></div> 
</div> 
