#map {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
}
.stations, .stations svg{
    position: absolute
} 
.stations svg{
    width: 145px;
    height: 30px;
    padding-right: 100px;
    padding: 3px;
    font: 7px sans-serif;
}
.stations circle{
    stroke: black;
    stroke-width: 0.5px;
    fill: #4e9a06;
}
.tooltip {
    position: absolute;
    line-height: .7;
    font-weight: bold;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);;
    color:#fff;
    border: 2px solid #4e9a06;
    font-weight: bold;
    font: 11.5px sans-serif;
    border-radius: 2px;
    pointer-events: none;    
  }