<div class="sensorModel container" ng-show="home">
    <div class="title-grid">
        <p>{{::vm.titleGrid}}</p>
    </div>
    <div class="noData" ng-if="noNetworkSelected">You didn't selected any network. Go <a ng-click="back()">back</a> and select one.</div>
        <div class="container-buttonGrid" style="margin-bottom: 10px;" ng-if="!noNetworkSelected">
            <button type="button" class="btn buttonNetAndAdd" ng-click="back()" ng-if ="backButton" title="Back to selection"
                style="margin-right: 5px;">
                <span>Networks</span>
                <i class="fas fa-arrow-left"></i>
            </button>
        </div>
        <div ng-show="loading" class="loader"></div>
        <div style="height: 100px;"></div>
        
        <div ng-show="noData && !loading && !noNetworkSelected" class="noData">Currently you don't have any devices registered on this network</div>
        
        <div ng-show="sensorHomeData && !noData && !loading" class="table-overflow">

            <div class="container-buttonGrid" ng-show="!detail">
                <div class="container-leftButtons">
                    <div  class="form-group measurementsContainerSet" style="margin-left: 5px;" >
                        <select class="form-control"  ng-model="modelSize" ng-click="setPageSize(modelSize)">
                            <option selected disabled hidden value="">Sensors per page: <b>50</b></option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="120">120</option>
                            <option value="140">140</option>
                            <option value="160">160</option>
                            <option value="200">200</option>
                        </select>
                    </div>
                    <div ng-if="!detail" class="container-filters" style="margin-left: 5px;">
                        <div class="container-front"  onclick="showFilters()"><p>Filters</p><i id="caret" class="fas fa-caret-down addStyle"></i></div>
                        <div id="filterMenu" class="container-back">
                            <div class="container-backFlex">
                                <div class="sayFlex"><input type ="checkbox" ng-model="devices" id="active" ng-click="showAll(devices); value = false;"/><p>All</p></div>
                                <div class="sayFlex"><input type="checkbox" ng-model="value" id="active" ng-click="showActiveSens(value)"/><p>Show active sensors</p></div>
                            </div>
                        </div>
                    </div>
                            
                </div>
                <div class="grow"></div>
                <div class="container-rightButtons">
                    <search></search>
                    <div class="container-buttonView">
                        <a>View:</a>
                        <div class="button-view">
                            <i id="large" class="fas fa-th-large" ng-click="changeLayoutCards()" ng-if= "change " onclick="focusButtonLarge()" ></i>
                            <i id="list" class=" fas fa-th-list" ng-click="changeLayoutGrid()" ng-if= "change " onclick="focusButtonList()"></i>
                        </div>
                     </div>
                </div>

            </div>

            <div class="measurementsTotalReadings" ng-if="!detail">
                <label style="font-weight: initial;">Network: <b>{{networkName}}</b>.</label>
                <label style="font-weight: initial;">Total Sensors: <b>{{allSensors}}</b>.</label>
                <label style="font-weight: initial;">Active: <b style="color: #5cb85c;">{{activeCount}}</b>,</label>
                <label style="font-weight: initial;">inactive: <b style="color: #d9534f;">{{inactiveCount}}</b></label>
            </div>
       
            <table class="table" ng-if="grid">
                <thead>
                    <tr>
                        <td>No.</td>
                        <td>Name</td>
                        <td>Status</td>
                        <td></td>
                    </tr>

                </thead>

                <tbody>

                    <tr ng-repeat-start="sensor in filterSensors = (userSensors | filter: filterSearch) | limitTo: sensPerPage: sensPerPage*(currentPage-1)">
                        <td>{{$index+1}}</td>
                        <td>{{sensor.name}}</td>
                        <td>
                            <span class="label label-success" ng-if="sensor.active == true">Active</span>
                            <span class="label label-danger" ng-if="sensor.active == false">Inactive</span>
                        </td>
                        <td class="sensorModelContainerInfo">
                            <button type="button" class="btn btn-success" ng-if="!sensor.expanded" ng-click="expandSelected(sensor); getLastRead(sensor.id); measureUnit(sensor.sensorTypeId); outOfRangeAllSens(sensor.sensorTypeId); getSensor(sensor.name, sensor.id, sensor.address); showSensorGateway(sensor.id)">+</button>
                            <button type="button" class="btn btn" ng-if="sensor.expanded" ng-click="sensor.expanded = false; disconnectFromHub()">-</button>
                        </td>

                    </tr>
                    <tr ng-if="sensor.expanded" ng-repeat-end="" class="table-overflow">
                        <td colspan="8" class="subTable">
                            <div ng-show="loadingDetails" class="loader"></div>
                            <div ng-show="detailsData">
                                <details-sensor></details-sensor>
                                <div>
                                    <button type="button" class="btn btn-success" ng-click="measurementSensor(sensor.id); startMeasurements()" ng-show="(measurementsButton && !editDisplay && !showGateways)">Reading History</button>
                                    <button type="button" class="btn btn-success" ng-click="chart(sensor.id)" ng-show="(chartButton && !editDisplay && !showGateways)">Chart History</button>
                                    <button type="button" class="btn btn-success" ng-click="showGate(sensor.id);" ng-show="gatewayButton">Gateways</button>
                                    <button type="button" class="btn btn-success" ng-click="startEdit();" ng-if="(editButton && !editDisplay && !showGateways)">Edit</button>
                                    <button type="button" class="btn btn-success" ui-sref="sensorsHome.editLocation" ng-click="startEditLocation(sensor.name, sensor.uploadInterval, sensor.latitude, sensor.longitude);" ng-if="(editLocation && !editDisplay && !showGateways)">Location</button>
                                    <button type="button" class="btn btn-success" ng-click="startDelete(sensor)" ng-show="(deleteButton && !editDisplay && !showGateways)">Delete</button>

                                </div> 
                                <measurements></measurements>
                                <sensor-gateway></sensor-gateway>
                                <chartd3></chartd3>
                                <edit-directive></edit-directive>
                                <delete-sensor></delete-sensor>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
       
        
        </div>
        <!-- CARDS -->

        <div class="container-rowCards" ng-show ="cards && !loading">
            <div class="column" ng-repeat= "sensor in filterSensors = (userSensors | filter: filterSearch) | limitTo: sensPerPage: sensPerPage*(currentPage-1)">
                <div class="card">
                    <div class="title">
                        <b> {{$index+1}}. {{sensor.name}}</b>
                    </div>

                    <div class="status">
                        <span class="label label-success" ng-if="sensor.active == true">Active</span>
                        <span class="label label-danger" ng-if="sensor.active == false">Inactive</span>
                    </div>

                    <div class="container-deleteB">
                        <delete-sensor></delete-sensor>
                    </div>

                    <div class="buttons">
                        <button  type="button" class="button-cardView buttonNetAndAdd" ng-click=" chart(sensor.id); measureUnit(sensor.sensorTypeId); getSensor( sensor.name, sensor.id, sensor.address); measurementSensor(sensor.id); startMeasurements(); startEditLocation(sensor.name, sensor.uploadInterval, sensor.latitude, sensor.longitude); details(); outOfRangeAllSens(sensor.sensorTypeId);">
                            Details</button>
                        <button type="button" class="button-cardView buttonNetAndAdd" ui-sref="sensorsHome.editSensor" ng-click="getSensor(sensor.name, sensor.id, sensor.address)">
                            Edit</button>
                        <button type="button" class="button-cardView buttonNetAndAdd" ng-click="startDelete(sensor); getSensor(sensor.name, sensor.id, sensor.address)">
                            Delete</button>
                    </div>

                </div>

            </div>
        </div>

        <div class="container-buttonRB" >
            <div ng-if="sensName">
                <b>{{name}}</b>
            </div>
            <button type="button" class="button-cardView buttonNetAndAdd"  style ="width: 100px;" ng-click="cancelDetails(); cancelMeasurements(); cancelChart()" ng-if="cancel">
                <span>Back</span>
                <i class="fas fa-arrow-left"></i>
            </button>
            <button type="button" class="button-cardView buttonNetAndAdd" ui-sref="sensorsHome.editLocation" ng-if="editLoc">
                <span>Location</span>
                <i class="fas fa-map-marker-alt"></i>
            </button>
            <button type="button" class="button-cardView buttonNetAndAdd" ng-if="refresh" ng-click="refreshFunction(); chart(id); measurementSensor(id);">
                <span>Refresh</span>
                <i class="fas fa-redo-alt"></i>
            </button>

        </div>

        <!-- 2 cards-->
        <chartd3></chartd3>
        <measurements></measurements>
        <!-- CARDS -->
        <div ng-show="(!filterSensors.length && sensorHomeData)" id="alert-error"><p>No result</p></div> 
        <div id="filteredSens" ng-show="filtSens">{{filterSensors.length}}</div> 
        <div paging page="currentPage" page-size="sensPerPage" total="allSensors" show-prev-next="true" show-first-last="true" ul-class="pagination" active-class="active" disabled-class="disabled" ng-show="sensorHomeData"></div>
</div>