.homeMenu{
    height: 100%;
}
.homeMenu .parallax {
    min-height: 900px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* --> progres bar */
.container-sensorHome .progress-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    background: #ccc;
    display: none;
}

.container-sensorHome .progress-container .progress-bar {
    height: 3px;
    background: #4e9a06;
    width: 0%;
}
/* <-- progres bar */


.homeMenu .text-banner {
    text-align: center;
    padding: 20px;
    width: 100%;
    background: rgba(51, 51, 51, 0.26);
}

.homeMenu .text-banner h1 {
    font-size: 35px;
}

.homeMenu .text-banner p {
    font-size: 14px;
}

.homeMenu .fill-screen {
    background-size: cover;
    background-position: center;
}

.homeMenu .fixed-attachment {
    background-attachment: fixed;
}

.homeMenu .activity-element {
    text-align: center;
    background-color: white;
}

.homeMenu .activity-element img {
    width: 150px;
    height: 150px;
}

footer {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}
@media only screen and (max-width: 1024px) {
    .homeMenu .parallax {
        background-attachment: scroll;
    }
}
/* --> footer */
/* footer <-- */