.homeMenu .parallax {
    min-height: 900px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Login */
.homeMenu .container-login {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
}
.homeMenu .container-login h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.homeMenu .container-login input[type=text], .homeMenu .container-login input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.homeMenu .container-login input[type=text]:focus, .homeMenu .container-login input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
.homeMenu .btn-login {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.homeMenu .btn-login:hover {
    opacity: 1;
}
/* /Login */


.homeMenu .text-banner {
    text-align: center;
    padding: 20px;
    width: 100%;
    background: rgba(51, 51, 51, 0.26);
}

.homeMenu .text-banner h1 {
    font-size: 35px;
}

.homeMenu .text-banner p {
    font-size: 14px;
}

.homeMenu .fill-screen {
    background-size: cover;
    background-position: center;
}

.homeMenu .fixed-attachment {
    background-attachment: fixed;
}

.homeMenu .activity-element {
    text-align: center;
    background-color: white;
}

.homeMenu .activity-element img {
    width: 150px;
    height: 150px;
}

footer {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}
@media only screen and (max-width: 1024px) {
    .homeMenu .parallax {
        background-attachment: scroll;
    }
}
