<div class="sensorModel container" ng-show="home">
    <div class="title-grid">
        <p>{{::vm.titleGrid}}</p>
    </div>
    <!-- <div style="height: 100px;"></div> -->
    <map></map>
    <div style="height: 100px;"></div>
    <div class="padding-button">
        <button type="button" class="button-cardView" ng-click="changeLayoutCards()" ng-if= "change " title="Large view">
            <span>Cards </span>
            <i class="fas fa-th-large"></i>
        </button>
        <button type="button" class="button-cardView" ng-click="changeLayoutGrid()" ng-if= "change " title="Small view">
            <span>Grid </span>
            <i class=" fas fa-th-list"></i>
        </button>
        
    </div>
    <div ng-show="loading" class="loader"></div>
    <div ng-show="noData" class="noData">No Data</div>
    <div ng-show="sensorHomeData" class="table-overflow">
        <div  class="form-group measurementsContainerSet" ng-if="!detail">
            <label>Sensors per page:</label>
            <select class="form-control"  ng-model="gridSize" ng-click="setPageSize(gridSize)">
                <option selected disabled hidden value="">50</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="120">120</option>
                <option value="140">140</option>
                <option value="160">160</option>
                <option value="200">200</option>
            </select>
        </div>
        <div class="measurementsTotalReadings" ng-show="!detail">
            <label>Total Sensors: {{totalSensors }} </label>
            <label>Acive sensors: {{activeCount }} </label>
            <label>Inactive sensors: {{inactiveCount}} </label>
            <div class="grow"></div>
            <search></search> 
        </div>
        
        <form ng-if="!detail">
                <div class="multiselect form-group ">
                    <div class="selectBox" ng-click="showCheckboxes()">
                        <select class="form-control">
                            <option>Filters</option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <div id="checkboxes">
                        <label for="active"><input type="checkbox" ng-model="value" id="active" ng-click="showActiveSens(value)"/>Active</label>
                    </div>
                </div>
            </form>
       
        <table class="table" ng-if="grid">
            <thead>
                <tr>
                    <td>No.</td>
                    <td>Sensor Color</td>
                    <td>Name</td>
                    <td>Sensor ID</td>
                    <td>Status</td>
                    <td></td>
                </tr>

            </thead>

            <tbody>

                <tr ng-repeat-start="sensor in filterSensors =(sensors | filter: {name: filterSearch}) | limitTo: sensPerPage: sensPerPage*(currentPage-1)">
                    <td>{{$index+1}}</td>
                    <td>
                        <span class="fa fa-circle" ng-if="sensor.sensorTypeId == 31" style="color:red;"></span>
                        <span class="fa fa-circle" ng-if="sensor.sensorTypeId == 33" style="color:blue;"></span>
                        <span class="fa fa-circle" ng-if="sensor.sensorTypeId == 34" style="color:#4e9a06;"></span>
                        <span class="fa fa-circle" ng-if="sensor.sensorTypeId == 35" style="color:black;"></span>
                        <span class="fa fa-circle" ng-if="sensor.sensorTypeId == 37" style="color:#bd611f;"></span>
                        <span class="fa fa-circle" ng-if="sensor.sensorTypeId == 39" style="color:#FFFF00;"></span>
                    </td>
                    <td>{{sensor.name}}</td>
                    <td>{{sensor.id}}</td>
                    <td>
                        <span class="label label-success" ng-if="sensor.active == true">Active</span>
                        <span class="label label-danger" ng-if="sensor.active == false">Inactive</span>
                    </td>
                    <td class="sensorModelContainerInfo">
                        <button type="button" class="btn btn-success" ng-if="!sensor.expanded" ng-click="expandSelected(sensor); getLastRead(sensor.gatewayAddress, sensor.clientAddress); measureUnit(sensor.sensorTypeId); outOfRangeAllSens(sensor.sensorTypeId);">+</button>
                        <button type="button" class="btn btn" ng-if="sensor.expanded" ng-click="sensor.expanded = false">-</button>
                    </td>

                </tr>
                <tr ng-if="sensor.expanded" ng-repeat-end="" class="table-overflow">
                    <td colspan="8" class="subTable">
                        <div ng-show="loadingDetails" class="loader"></div>
                        <div ng-show="detailsData">
                            <details-sensor></details-sensor>
                            <div>
                                <button type="button" class="btn btn-success" ng-click="measurementSensor(sensor.gatewayAddress, sensor.clientAddress); startMeasurements(); outOfRangeAllSens(sensor.sensorTypeId)" ng-show="measurementsButton">Reading History</button>
                                <button type="button" class="btn btn-success" ng-click="chart(sensor.gatewayAddress, sensor.clientAddress); outOfRangeAllSens(sensor.sensorTypeId)" ng-show="chartButton">Chart History</button>
                                <button type="button" class="btn btn-success" ng-click="startEdit(); getSensor(sensor.gatewayAddress, sensor.clientAddress)" ng-if="(editButton && !editDisplay)">Edit</button>
                                <button type="button" class="btn btn-success" ui-sref="sensorsHome.editLocation" ng-click="startEditLocation(sensor.gatewayAddress, sensor.clientAddress, sensor.name, sensor.uploadInterval, sensor.batchSize, sensor.latitude, sensor.longitude); hideSensGrid()" ng-show="editLocation">Location</button>
                                <button type="button" class="btn btn-success" ng-click="startDelete(sensor)" ng-show="deleteButton">Delete</button>
                            </div>
                            <measurements></measurements>
                            <chartd3></chartd3>
                            <edit-directive></edit-directive>
                            <delete-sensor></delete-sensor>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
       
        
    </div>
    <!-- CARDS -->
<div class="container-parrents-cards" ng-show ="cards && !loading">

    <div class="container-contentCards" ng-repeat= "sensor in filterSensors =(sensors | filter: {name: filterSearch}) | limitTo: sensPerPage: sensPerPage*(currentPage-1)">
        <div class="box-shadow">
            <div class="container-contentCrd">
                <form ng-if="!sensor.deleteDisplay ">
                        
                    <b> {{$index+1}}. {{sensor.name}}</b>
                    <div class="container-AI" >
                        <span class="label label-success" ng-if="sensor.active == true">Active</span>
                        <span class="label label-danger" ng-if="sensor.active == false">Inactive</span>
                    </div>
                    
                </form>
                <b ng-if="(sensor.deleteDisplay && cards)"> {{$index+1}}. {{sensor.name}}</b>
                <delete-sensor></delete-sensor>
                <button  type="button" ng-if="!sensor.deleteDisplay" class="button-cardView" ng-click=" chart(sensor.gatewayAddress, sensor.clientAddress); measureUnit(sensor.sensorTypeId); getSensor(sensor.gatewayAddress, sensor.clientAddress, sensor.name); measurementSensor(sensor.gatewayAddress, sensor.clientAddress); startMeasurements(); startEditLocation(sensor.gatewayAddress, sensor.clientAddress, sensor.name, sensor.uploadInterval, sensor.batchSize, sensor.latitude, sensor.longitude); details(); outOfRangeAllSens(sensor.sensorTypeId);">
                    Details</button>
                <button type="button" class="button-cardView" ui-sref="sensorsHome.editSensor" ng-click="getSensor(sensor.gatewayAddress, sensor.clientAddress, sensor.name)" ng-if="!sensor.deleteDisplay">
                    Edit</button>
                <button type="button" class="button-cardView" ng-click="startDelete(sensor); gaCa(sensor.gatewayAddress, sensor.clientAddress)" ng-if="!sensor.deleteDisplay">
                    Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="container-buttonRB" >
        <div ng-if="sensName">
                <b>{{name}}</b>
        </div>
        <button type="button" class="button-cardView"  style ="width: 100px;" ng-click="cancelDetails(); cancelMeasurements(); cancelChart()" ng-if="cancel">
            <span>Back</span>
            <i class="fas fa-arrow-left"></i>
        </button>
        <button type="button" class="button-cardView" ui-sref="sensorsHome.editLocation" ng-if="editLoc">
            <span>Location</span>
            <i class="fas fa-map-marker-alt"></i>
        </button>
        <button type="button" class="button-cardView" ng-if="refresh" ng-click="chart(gatewayAddr, clientAddr); measurementSensor(gatewayAddr, clientAddr);">
            <span>Refresh</span>
            <i class="fas fa-redo-alt"></i>
        </button>
        
    </div>

<!-- 2 cards-->
    <chartd3></chartd3>
    <measurements></measurements>
<!-- CARDS -->
<div ng-show="(!filterSensors.length && sensorHomeData)" id="alert-error"><p>No result</p></div> 
<div id="filteredSens" ng-show="filtSens">{{filterSensors.length}}</div> 
<div paging page="currentPage" page-size="sensPerPage" total="allSensors" show-prev-next="true" show-first-last="true" ul-class="pagination" active-class="active" disabled-class="disabled"></div>
</div>