<div class="c-setting-view">
  <div class="header-setting">
    <img ui-sref="sensorsHome.sensors" src="/Home/images-home/Icons/Back1.0.svg" title="Back" alt="Check4Green icons">
    <h1>Account settings</h1>
  </div>

  <div ng-show="vm.showSettingsError" id="alert-error"><p>{{error}}</p></div>
  <div ng-show="vm.showSettingsMessage" id="alert-succesful"><p>{{message}}</p></div>
  <div ng-show ="vm.showValidError" id="alert-error"><p>{{validError}}</p></div>

  <div class="c-content-setting">
  <form name="nameEdit" novalidate>
      <div class="box-text">

          <p ng-click="vm.collapsUserName()">Username: <b>{{user.firstName}} {{user.lastName}}</b> <i class="fas fa-chevron-down"></i></p>

          <div ng-show="vm.showUserName" class="show-input">
            <div class="input-setting" ng-class="{'has-error': nameEdit.fname.$invalid && nameEdit.fname.$dirty}">
              <input type="text" placeholder="The new first name" ng-model="editFirstname" ng-pattern="/^[a-zA-Z-\s]*$/" name="fname" name-valid required />
              <div class="">
                <div ng-show="nameEdit.fname.$error.required && nameEdit.fname.$dirty">This field is required!</div>
                <div ng-show="!nameEdit.fname.$error.required && nameEdit.fname.$error.pattern ">The name is invalid! Use only: 'A-Z', 'a-z', '-'</div>
                <div ng-show="!nameEdit.fname.$error.required && !nameEdit.fname.$error.pattern && !nameEdit.fname.$valid">The name is invalid!</div>
              </div>
            </div>
            <div class="input-setting" ng-class="{'has-error': nameEdit.lname.$invalid && nameEdit.lname.$dirty}">
              <input class="" type="text" placeholder="The new last name" ng-model="editLastname" ng-pattern="/^[a-zA-Z-\s]*$/"  name="lname" required>
              <div class="">
                  <div ng-show="nameEdit.lname.$error.required && nameEdit.lname.$dirty">This field is required!</div>
                  <div ng-show="!nameEdit.lname.$error.required && nameEdit.lname.pattern">The name is invalid! Use only: 'A-Z', 'a-z', '-'!</div>
                  <div ng-show="!nameEdit.lname.$error.required && !nameEdit.lname.pattern && !nameEdit.lname.$valid">The name is invalid!</div>
              </div>
            </div>
          </div>
      </div>
    </form>

  <form name="emailEdit" novalidate>
      <div class="box-text">

          <p ng-click="vm.collapsEmailAddress()">Email address: <b>{{user.email}}</b> <i class="fas fa-chevron-down"></i></p>

          <div ng-show="vm.showEmailAddress" class="">
              <div class="input-setting" ng-class="{'has-error': emailEdit.currentEmail.$invalid && emailEdit.currentEmail.$dirty}">
                  <input class="" type="email" placeholder="The current email address" ng-model="currentEmail" name="currentEmail" ng-pattern="/^[A-Za-z0-9._@]*$/" required>
                  <div class="">
                    <div ng-show="emailEdit.currentEmail.$error.required && emailEdit.currentEmail.$dirty">This field is required!</div>
                    <div ng-show="emailEdit.currentEmail.$error.email || emailEdit.currentEmail.$error.pattern">This email address is invalid!</div>
                  </div>
                </div>
              <div class="input-setting" ng-class="{'has-error': emailEdit.email.$invalid && emailEdit.email.$dirty}">
                <input class="" type="email" placeholder="The new email address" ng-model="editEmail" name="email" ng-pattern="/^[A-Za-z0-9._@]*$/" required>
                <div class="">
                  <div ng-show="emailEdit.email.$error.required && emailEdit.email.$dirty">This field is required!</div>
                  <div ng-show="emailEdit.email.$error.email || emailEdit.email.$error.pattern">This email address is invalid!</div>
                </div>
              </div>
              <div class="input-setting" ng-class="{'has-error': emailEdit.confirmEmail.$invalid && emailEdit.confirmEmail.$dirty}">
                  <input class="" type="email" placeholder="Confirm email address" ng-model="confirmEmail" ng-pattern="/^[a-zA-Z0-9._@]*$/" name="confirmEmail" required>
                  <div class="">
                    <div ng-show="emailEdit.confirmEmail.$error.required && emailEdit.confirmEmail.$dirty">This field is required!</div>
                    <div ng-show="emailEdit.confirmEmail.$error.email || emailEdit.confirmEmail.$error.pattern">This email address is invalid!</div>
                  </div>
                </div>
          </div>
      </div>
    </form>

  <form name="passwordEdit">
      <div class="box-text">

          <p ng-click="vm.collapsPassword()">Password <i class="fas fa-chevron-down"></i></p>

          <div ng-show="vm.showPassword" class="">
              <div class="input-setting" ng-class="{'has-error': passwordEdit.pass.$invalid && passwordEdit.pass.$dirty}">
                <input class="" type="password" placeholder="Old password"  ng-model ="oldPassword" name="pass" required>
                <div class="">
                  <div ng-show="passwordEdit.pass.$error.required && passwordEdit.pass.$dirty">This field is required!</div>
                </div>
              </div>
              <div class="input-setting" ng-class="{'has-error': passwordEdit.pass1.$invalid && passwordEdit.pass1.$dirty}">
                <input class="" type="password" placeholder="The new password" ng-model="editPassword" ng-minlength="6" name="pass1" required>
                <div class="">
                  <div ng-show="passwordEdit.pass1.$error.required && passwordEdit.pass1.$dirty">This field is required!</div>
                  <div ng-show="!passwordEdit.pass1.$error.required && passwordEdit.pass1.$error.minlength">The password must have at least 6 characters!</div>
                </div>
              </div>
              <div class="input-setting" ng-class="{'has-error': passwordEdit.pass2.$invalid && passwordEdit.pass2.$dirty}">
                <input class="" type="password" placeholder="Repeat the new password" ng-model="confirmEditPass" name="pass2" valid-pass required>
                <div class="">
                  <div ng-show="passwordEdit.pass2.$error.required && passwordEdit.pass2.$dirty">This field is required!</div>
                  <div ng-show="!passwordEdit.pass2.$error.required && passwordEdit.pass2.$error.noMatch && passwordEdit.pass1.$dirty">The passwords do not match!</div>
                </div>
              </div>
            </div>
      </div>
    </form>
  <form name="companyEdit">
      <div class="box-text">

          <p ng-click="vm.collapsCompanyName()">Company name: <b>{{user.companyName}}</b> <i class="fas fa-chevron-down"></i></p>

          <div ng-show="vm.showCompanyName" class="">
              <div class="input-setting" ng-class="{'has-error': companyEdit.cname.$invalid && companyEdit.cname.$dirty}">
                <input class="" type="text" placeholder="New company name" ng-model="editCompany" ng-pattern="/^[a-zA-Z0-9.-]*$/" name="cname" required>
                <div class="">
                  <div ng-show="companyEdit.cname.$error.required && companyEdit.cname.$dirty">This field is requied!</div>
                  <div ng-show="!companyEdit.cname.$error.required && companyEdit.cname.$error.pattern">The company name is invalid!</div>
                </div>
              </div>
            </div>
      </div>
    </form>
  <form name="countryEdit">
      <div class="box-text">

          <p ng-click="vm.collapsCountry()">Country: <b>{{user.country}}</b> <i class="fas fa-chevron-down"></i></p>

          <div ng-show="vm.showCountry" class="">
              <div class="input-setting" ng-class="{'has-error': countryEdit.country.$invalid && countryEdit.country.$dirty}">
                <select name="country" class="" ng-model="editCountry" ng-options="country.name for country in countries" required>
                  <option selected disabled hidden value="">Romania</options>
                </select>
                <div class="">
                  <div ng-show="countryEdit.country.$error.required && countryEdit.country.$dirty">This field is required!</div>
                  <div ng-show="!countryEdit.country.$error.required && countryEdit.country.$error.pattern">The country name is invalid!</div>
                </div>
              </div>
            </div>
      </div>
    </form>
  <form name="phoneEdit">
      <div class="box-text">

          <p ng-click="vm.collapsPhoneNumber()">Phone number: <b>{{user.phoneNumber}}</b> <i class="fas fa-chevron-down"></i></p>

          <div ng-show="vm.showPhoneNumber" class="">
              <div class="input-setting" ng-class="{'has-error': phoneEdit.nphone.$invalid && phoneEdit.nphone.$dirty}">
                <input class="" type="text" placeholder="New number" ng-model="editPhone" ng-pattern="/^[0-9\s+]*$/" ng-maxlength="13" name="nphone" phone-validation required>
                <div class="">
                    <div ng-show="phoneEdit.nphone.$error.required && phoneEdit.nphone.$dirty">This field is required!</div>
                    <div ng-show="!phoneEdit.nphone.$error.required && phoneEdit.nphone.$error.pattern">The phone number is invalid!</div>
                    <div ng-show="!phoneEdit.nphone.$error.required && !phoneEdit.nphone.$valid && phoneEdit.nphone.$error.maxlength">The phone number can't have more than 13 characters!</div>
                    <div ng-show="!phoneEdit.nphone.$error.required && !phoneEdit.nphone.$error.pattern && !phoneEdit.nphone.$error.maxlength && !phoneEdit.nphone.$valid">You have to enter the country dial code!</div>
                </div>
              </div>
            </div>
      </div>
    </form>
  </div>
    <a ng-click="saveChanges(editFirstname, editLastname, currentEmail, editEmail, confirmEmail, password, editPassword, confirmEditPass ,oldPassword, editCompany, editCountry, editPhone)" >Save change</a>
    <p>Once the data is verified, it will be changed.</p>
  </div>
      <!-- Fake elements -->
      <div id="myTopnav" style=" display: none !important; "></div>
      <div id="logoC4Gheader" style=" display: none !important; "></div>
      <div id="bLogIn" style=" display: none !important; "></div>
      <!-- Fake elements -->