.settings-container-big{
    z-index: 1;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(-60deg, 
    #77ab88 0%, #77ab88 25%, 
    #308f58 25%, #308f58 100%); 
    overflow-y: auto; 
}
.settings-container-big .box-text{
    margin-bottom: 13px;
    margin-top: 13px;
}
.settings-container-big .box-text .h-parrent-hover:hover .hover-edit{
    display: inline-block;
    color: white;
}
.settings-container-big .box-text .hover-edit{
    display: none;
    text-decoration: none;
    margin-left: 5px;
}
.rotate{
    transform: rotate(180deg)
}
.settings-container-big .box-text .text-colapse-settings{
    background-color: #4e9a06;
    border-radius: 10px;
    padding: 10px;
}
.settings-container-big .box-border-container{
    border: solid 3px #4e9a06;
    border-radius: 0px 20px 20px 20px;
    padding: 10px;
    background-color: #4e9a062d;
}
.settings-container-big .span{
    font-size: 25px;
    position: fixed;
    right: 20px;
    top: 10px;
    cursor: pointer;
    text-shadow: 1px 1px #e0e0e0;
}
.settings-container-big .span:hover{
    color:  #d9534f;
    text-shadow: 0px 0px #e0e0e0;
}
.settings-container-big .span-settings{
    background-color: #4e9a06;
    border-radius: 50%;
    border: solid 3px #4e9a06;
}
.settings-container-big .span-settings:hover{
    color: white;
    box-shadow: 0 0 1px 1px #333;
    cursor: pointer;
}
.settings-container-big h2{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.settings-container-big .settings-image{
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-right: auto;
}
.settings-container-big .settings-container{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 40px;
    min-width: 300px;
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 6px 6px 9px -7px #000000;
}
.settings-container-big .settings-container h2{
    margin-bottom: 20px;
}
.settings-container-big .settings-container h{
    font-size: 13px;
    font-weight: bold;
}
.settings-container-big .settings-container .h-color{
    color: #ffffff;
    font-weight: bold;
}
.settings-container-big .settings-container form{
    width: 100%;
}
.settings-container-big .settings-container .settings-input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 6px;
}

.settings-container-big .settings-container .settings-input-container .settings-input-filed{
    width: 100%;
    padding: 2px;
    outline: none;
    margin-top: 6px;
    margin-bottom: 3px;
    font-size: 13px;
}
.settings-container-big .settings-container .settings-input-container .settings-input-filed:focus{
    border: 2px solid #4e9a06;
}
.settings-container-big .settings-container button{
    background-color: #4e9a06;
    color: white;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin-bottom: 10px; 
    margin-top: 30px; 
}
.settings-container-big .settings-container button:hover{
    opacity: 1;
}
.settings-container-big .settings-container a{
    font-size: 13px;
    cursor: pointer;
    text-decoration: underline;
}
@media screen and (max-width: 900px){
    .settings-container-big .settings-container{
        width: 80%;
        padding: 20px;
    }
}
@media screen and (max-width: 440px){
    .settings-container-big .settings-container{
        width: 100%;
        padding: 5px;
    }
}






/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}