<div class="chartDisplay" ng-show="chartDisplay">
    <div ng-show="loadingChart" class="loader"></div>
    <div ng-show="noDataChart" class="noData">No data</div>
    <div ng-show="dataChart" class="bg-table">
        <button type="button" class="btn btn-success refreshMeasurements" ng-click="chart(sensor.gatewayAddress, sensor.clientAddress)">Refresh</button>

        <!-- <label class="checkbox-inline">
            <input type="checkbox" ng-model="value" ng-click="showValues(value)"> Show values on chart.
        </label> -->

        <label class="checkbox-inline switch">
          <input type="checkbox" checked ng-model="value" ng-click="showValues(value)">
          <span class="slider round"></span>
        </label> 
        <a class="checkbox-inline-a">Show values on chart.</a>

        <div class="svgChart">
            <svg width="960" height="500"></svg>
        </div>
    </div>
    <button type="button" class="btn btn cancelButton" ng-click="cancelChart()">Cancel</button>
</div>