<span ng-if="ui" style ="color:red">{{uploadIntMessage}}</span>
<table class="table"  ng-show="detailsDisplay">
        <thead>
            <tr>
                <td>Gateway Address</td>
                <td>Client Address</td>
                <td>Register Date</td>
                <td ng-if="!vibrations">Upload Interval</td>
                <td ng-if="!vibrations">Unit Of Measure</td>
                <td>Last Value</td>
                <td>Last Date</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{sensor.gatewayAddress}}</td>
                <td>{{sensor.clientAddress}}</td>
                <td>{{sensor.productionDate}}</td>
                <td ng-if="!vibrations">{{sensor.uploadInterval | uploadint}}</td>
                <td ng-if="!vibrations">{{unitOfMeasure}}</td>
                <td>
                    <span ng-show="noRead">-</span>
                    <div class="measurementsOk" ng-if="(lastRead[0].value < outOfRangeError) && (lastRead[0].value != 0)" >{{lastRead[0].value}}</div>
                    <div class="measurementsOutOfRange" ng-if="lastRead[0].value > outOfRangeError">OR</div>
                    <div class="measurementsInvalidSensor" ng-if="lastRead[0].value == 0">IS(0)</div>
                </td>
                <td>{{lastRead[0].readingDate}}<span ng-show="noRead">-</span></td>
            </tr>

        </tbody>
</table>