<table class="table"  ng-show="detailsDisplay">
        <thead>
            <tr>
                <td>Gateway Address</td>
                <td>Client Address</td>
                <td>Production Date</td>
                <td>Upload Interval</td>
                <td>Batch Size</td>
                <td>Last Value</td>
                <td>Unit Of Measure</td>
                <td>Last Date</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{sensor.gatewayAddress}}</td>
                <td>{{sensor.clientAddress}}</td>
                <td>{{sensor.productionDate}}</td>
                <td>{{sensor.uploadInterval}}</td>
                <td>{{sensor.batchSize}}</td>
                <td>
                    <span ng-show="noRead">-</span>
                    <div class="measurementsOk" ng-if="(vm.lastRead[0].value < outOfRangeError) && (vm.lastRead[0].value != 0)">{{vm.lastRead[0].value}}</div>
                    <div class="measurementsOutOfRange" ng-if="vm.lastRead[0].value > outOfRangeError">OR</div>
                    <div class="measurementsInvalidSensor" ng-if="vm.lastRead[0].value == 0">IS(0)</div>
                </td>
                <td>{{unitOfMeasure}}</td>
                <td>{{vm.lastRead[0].readingDate}}<span ng-show="noRead">-</span></td>
            </tr>
        </tbody>
    </table>
    