<button type="button" class="btn btn-success registerSensorButton" ng-click="startRegister()" ng-show="registerButton">Add sensor</button>
<div>
    <span style="color:red;" ng-show="sensorRegisterError">{{message}}</span>
    <span style="color:green;" ng-show="sensorRegisterSuccess">Sensor created successful!</span>
</div>
<div class="registerDisplay row vertical-align"  ng-show="registerDisplay">
    <form class="col-md-3" name="registerForm" novalidate>
        <label>Name:</label>
        <div class="form-group" ng-class="{'has-error':registerForm.inputName.$invalid && registerForm.inputName.$dirty}">
            <input id="inputName" name="inputName" type="text" maxlength="30" placeholder="exemple: (Proximity-Sensor_01)" ng-pattern="/^[a-zA-Z 0-9 _-]+$/" name-validation ng-keydown="$event.keyCode != 32 ? $event:$event.preventDefault()" autocomplete="off" class="form-control" ng-model="registerName" required>
            <span class="help-block has-error">
                <span ng-show="registerForm.inputName.$error.required">Name is required</span>
                <span ng-show="registerForm.inputName.$error.pattern">Please keep the Name format! Use only: 'a-z', 'A-Z', '0-9', '-', '_'. Exemple: (Proximity-Sensor_01)</span>
                <span ng-show="!registerForm.inputName.$valid && !registerForm.inputName.$error.required && !registerForm.inputName.$error.pattern">Please keep the Name format! Don't insert symbols one after another and before or after word, and word need min one letter. Exemple: (Proximity-Sensor_01)</span>
            </span>
        </div>
        <label>Production Date:</label>
        <div class="form-group" ng-class="{'has-error':registerForm.inputProdDate.$invalid && registerForm.inputProdDate.$dirty}">
            <input id="inputProdDate" name="inputProdDate" type="datetime-local" class="form-control" ng-model="registerProductionDate" required />
            <span class="help-block has-error" ng-show="registerForm.inputProdDate.$invalid">Production Date is required</span>
        </div>
        <label>Upload Interval:</label>
        <div class="form-group" ng-class="{'has-error':registerForm.inputUploadInt.$invalid && registerForm.inputUploadInt.$dirty}">
            <input id="inputUploadInt" name="inputUploadInt" type="number" min="0" placeholder="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" ng-model="registerUploadInterval" required />
            <span class="help-block has-error">
                <span ng-show="registerForm.inputUploadInt.$error.required">Upload Interval is required</span>
                <span ng-show="registerForm.inputUploadInt.$error.number">The Upload Interval must be a number</span>
            </span>
        </div>
        <label>Batch Size:</label>
        <div class="form-group" ng-class="{'has-error':registerForm.inputBatchSize.$invalid && registerForm.inputBatchSize.$dirty}">
            <input id="inputBatchSize" name="inputBatchSize" type="number" min="0" placeholder="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" ng-model="registerBatchSize" required />
            <span class="help-block has-error">
                <span ng-show="registerForm.inputBatchSize.$error.required">Batch Size is required</span>
                <span ng-show="registerForm.inputBatchSize.$error.number">The Batch Size  must be a number</span>
            </span>
        </div>
        <label>Gateway Address:</label>
        <div class="form-group" ng-class="{'has-error':registerForm.inputGatewayAdd.$invalid && registerForm.inputGatewayAdd.$dirty}">
            <input id="inputGatewayAdd" name="inputGatewayAdd" placeholder="0x-- (hexadecimal number)" ng-pattern="/^[a-f0-9 x]{4}$/" ng-keydown="$event.keyCode != 32 ? $event:$event.preventDefault()" autocomplete="off" ca-ga-validation type="text" class="form-control" ng-model="registerGatewayAddress" required ng-minlength="4" ng-maxlength="4" maxlength="4"/>
            <span class="help-block has-error">
                <span ng-show="registerForm.inputGatewayAdd.$error.required">Gateway Address is required</span>
                <span ng-show="registerForm.inputGatewayAdd.$error.pattern">The Gateway Address must be a hexadecimal number of 4 characters.</span>
                <span ng-show="!registerForm.inputGatewayAdd.$valid && !registerForm.inputGatewayAdd.$error.required && !registerForm.inputGatewayAdd.$error.pattern">Please insert hexadecimal prefix format '0x'</span>
            </span>
        </div>
        <label>Client Address:</label>
        <div class="form-group" ng-class="{'has-error':registerForm.inputClientAdd.$invalid && registerForm.inputClientAdd.$dirty}">
            <input id="inputClientAdd" name="inputClientAdd" placeholder="0x-- (hexadecimal number)" ng-pattern="/^[a-f0-9 x]{4}$/" ng-keydown="$event.keyCode != 32 ? $event:$event.preventDefault()" autocomplete="off" ca-ga-validation type="text" class="form-control" ng-model="registerClientAddress" required ng-minlength="4" ng-maxlength="4" maxlength="4" />
            <span class="help-block has-error">
                <span ng-show="registerForm.inputClientAdd.$error.required">Client Address is required</span>
                <span ng-show="registerForm.inputClientAdd.$error.pattern">The Client Address must be a hexadecimal number of 4 characters.</span>
                <span ng-show="!registerForm.inputClientAdd.$valid && !registerForm.inputClientAdd.$error.required && !registerForm.inputClientAdd.$error.pattern">Please insert hexadecimal prefix format '0x'</span>
            </span>
        </div>
        <button type="button" class="btn btn-success" ng-click="sensorRegister(registerName, registerProductionDate, registerUploadInterval, registerBatchSize, registerGatewayAddress, registerClientAddress, vm.sensors)">Add</button>
        <button type="button" class="btn btn" ng-click="cancelRegisterSensor()">Cancel</button>
    </form>
</div>

