<div class="c-register-sensor" ng-show="registerDisplay">
    <div class="header-register-s">
        <img src="/Home/images-home/Icons/Back1.0.svg" alt="Check4Green Icon" title="Back" ng-click="cancelRegisterSensor()">
        <h1>Sensor registration</h1>
    </div>
    <span id="alert-error" ng-show="sensorRegisterError"><p>{{message}}</p></span>
    <span id="alert-succesful" ng-show="sensorRegisterSuccess"><p>Sensor created successful!</p></span>

    <form class="c-edit-content" name="registerForm" novalidate>
        <p>Name:</p>
        <div class="name-edit" ng-class="{'has-error':registerForm.inputName.$invalid && registerForm.inputName.$dirty}">

            
            <div class="container-name">
                <input id="inputName" name="inputName" type="text" maxlength="30" placeholder="example: (Proximity-Sensor_01)" ng-pattern="/^[a-zA-Z 0-9 _-]*$/" name-validation ng-keydown="$event.keyCode != 32 ? $event:$event.preventDefault()" autocomplete="off" class="form-control" ng-model="registerName" ng-model-options="{ debounce: 250 }" required>
                <div class="container-info 	fa fa-info-circle">
                    <p class="info-hover">The name is a sensor identifier. To make it easier to find.</p>
                </div>
            </div>

            <span class="help-block has-error">
                <span ng-show="registerForm.inputName.$error.required">Name is required</span>
                <span ng-show="!registerForm.inputName.$error.required && registerForm.inputName.$error.pattern">Please keep the Name format! Use only: 'a-z', 'A-Z', '0-9', '-', '_'. Exemple: (Proximity-Sensor_01)</span>
                <span ng-show="!registerForm.inputName.$valid && !registerForm.inputName.$error.required && !registerForm.inputName.$error.pattern">Please keep the Name format! Don't insert symbols one after another and before or after the word, and the word needs min one letter. Exemple: (Proximity-Sensor_01)</span>
            </span>
        </div>

        <p ng-show="!vibrations">Upload Interval:</p>
        <div ng-show="!vibrations" class="upload-edit" ng-class="{'has-error':(registerForm.inputDays.$invalid && registerForm.inputDays.$dirty) || (registerForm.inputHours.$invalid && registerForm.inputHours.$dirty)|| (registerForm.inputMinutes.$invalid && registerForm.inputMinutes.$dirty)}">
            <div class="container-name space-input">
                <input id="inputDays" name="inputDays" type="number" min="0" placeholder="Days" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" ng-model="registerDays" ng-model-options="{ debounce: 250 }" required />
                <input id="inputHours" name="inputHours" type="number" min="0" placeholder="Hours" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" ng-model="registerHours" ng-model-options="{ debounce: 250 }" required />
                <input id="inputMinutes" name="inputMinutes" type="number" min="0" placeholder="Minutes" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" ng-model="registerMinutes" ng-model-options="{ debounce: 250 }" required />
                <div class="container-info 	fa fa-info-circle">
                    <p class="info-hover">Enter the time interval between readings.</p>
                </div>
            </div>
            
            <span class="help-block has-error">
                <span ng-show="registerForm.inputDays.$error.required && registerForm.inputHours.$error.required && registerForm.inputMinutes.$error.required">Upload Interval is required</span>
            </span>
        </div>

        <p>Address:</p>
        <div class="name-edit" ng-class="{'has-error':registerForm.inputClientAdd.$invalid && registerForm.inputClientAdd.$dirty}">
            <div class="container-name">
                <input id="inputClientAdd" name="inputClientAdd" placeholder="Sensor Address" ng-pattern="/^[a-z0-9]{10}$/" ng-keydown="$event.keyCode != 32 ? $event:$event.preventDefault()" autocomplete="off" type="text" class="form-control" ng-model="registerClientAddress" ng-model-options="{ debounce: 250 }" required ng-minlength="10" ng-maxlength="10" maxlength="10" />
                <div class="container-info 	fa fa-info-circle">
                    <p class="info-hover">Write your sensor address (find the address on the casing).</p>
                </div>
            </div>
            <span class="help-block has-error">
                <span ng-show="registerForm.inputClientAdd.$error.required">Address is required</span>
                <span ng-show="registerForm.inputClientAdd.$error.pattern">The Address must contain 10 alphanumerics characters.</span>
            </span>
        </div>
        
        <a ng-click="sensorRegister(registerName, registerDays,registerHours, registerMinutes, registerClientAddress, vm.sensors)">Add</a>
    </form>
    <div class="map-google">
        <label>Choose the location of your sensor on the map: </label>
        <div id ="registerMap"></div>
    </div>
</div>
