<div class="sensorModel">
        <div ng-show="loading" class="loader"></div>
        <div ng-show="noSensorsData && !loading" class="noData">No Data</div>
    <div class="c-sensors-view" ng-show ="!loading">
    
        <div  class="c-inside-body-sensors">
            <div class="header-sensors-card">
                <div class="header-c-top">
                    <img src="/Home/images-home/Icons/Back1.0.svg" ng-if="!detailsData" alt="Check4Green Icons" title="Back" ng-click="back()">
                    <img src="/Home/images-home/Icons/Back1.0.svg" ng-if="detailsData" alt="Check4Green Icons" title="Back" ng-click="hideDetails()">
                
                    <h1 ng-if="!detailsData">You are in: <b>{{networkName}}</b></h1>
                    <h1 ng-if="detailsData">You are in: <b>{{sensor.name}}</b></h1>
                
                </div>
            
                <div class="filters-sensors" ng-if="!detailsData">
                    <div class="ceckbox-sensors">
                    <p>Total sensors: <b>{{totalSensors}}</b></p>
                    <p>Active: <b style="color: #5cb85c;">{{activeCount}}</b></p>
                    <p>Inactive: <b style="color: #d9534f;">{{inactiveCount}}</b></p>
                    <label class="ceckbox-sensors-no">Devices per page:<input type="number" id="pageSize" style="width: 40px;" onkeydown="javascript: return event.keyCode == 69 ? false : true" min="1" max="500" ng-model="vm.sensPerPage"></label>
                    </div>
                    
                    <label class="ceckbox-sensors">
                        Show active sensors
                      <input id="active" type="checkbox" ng-model="value" ng-click="showActiveSensors(value)">
                      <span></span>
                    </label>
                
                </div>
                <div class="search-c" ng-show="!detail">
                    <search></search>
                </div>
            
                <a id="addSensorB" ng-if="!detail" ui-sref="sensorsHome.addSensor"><i class="fas fa-plus"></i>Add sensor</a>
            
            </div>
            
        
            <div ng-show="loadingNetworks" class="loader"></div>
        
            <div class="c-aranjament" >
                <div class="c-column" ng-if="!detailsData" ng-repeat= "sensor in filterSensors = sensors | limitTo: vm.sensPerPage: vm.sensPerPage*(vm.currentPage-1) ">
                    <div class="c-card">
                        <div class="c-title-network-2">
                            <a>{{ ($index + 1) + (vm.currentPage - 1) * vm.sensPerPage }}. {{sensor.name}}</a>
                            <span class="fa fa-circle" ng-if="sensor.active" style="color: #58FF5E;"></span>
                            <span class="fa fa-circle" ng-if="!sensor.active" style="color: #FB3030;"></span>
                        </div>
                        <div class="c-title-network-2">
                            <a class="blue" ng-click="vm.expandSelected(sensor);getLastRead(sensor.id); sensData(sensor.name, sensor.id, sensor.sensorTypeId); measureUnit(sensor.sensorTypeId); showSensorGateway(sensor.id); showDetails(sensor); outOfRangeAllSens(sensor.name, sensor.id, sensor.address, sensor.sensorTypeId);">
                                Show sensors details<i class="fas fa-chevron-down"></i></a>
                        </div>
                    </div>
                    
                </div>
                <div class="c-details" ng-if="detailsData">
                    
                
                    <div class="header-details">
                        <a id="details" ng-click="startShowDetails()">{{sensor.name}}</a>
                        <a id="hideDetailsButton" ng-click="hideDetails()" >Hide sensors details <i class="fas fa-chevron-up"></i></a>
                        <a id="gridButton" ng-click="measurementSensor(sensor.id); startMeasurements()">Grid</a>
                        <a id="chartButton" ng-click="chart(sensor.id)">Chart</a>
                        <a id="gatewaysButton" ng-click="showGate(sensor.id);">Gateways</a>
                        <a id="mapButton" ng-click="getSensor(sensor.id); startEditLoc();">Map</a>
                        <a id ="editButton" ng-click=" startEdit();">Edit</a>
                        <a id="deleteButton" ng-click="startDelete(sensor)" >Delete</a>
                        <img ng-if="chartDisplay" ng-click="chart(sensor.id)" src="/Home/images-home/Icons/Refresh1.0.svg" alt="Check4Green Icons" title="Refresh">
                        <img ng-if="measurementsDisplay" ng-click="measurementSensor(sensor.id); startMeasurements()" src="/Home/images-home/Icons/Refresh1.0.svg" alt="Check4Green Icons" title="Refresh">
                    </div>
                        
                    <div class="c-content-details">
                        <edit-loc></edit-loc>
                        <edit-directive></edit-directive>
                        <sensor-gateway></sensor-gateway>
                        <measurements></measurements>
                        <chartd3></chartd3>
                        <delete-sensor></delete-sensor>
                        <details-sensor></details-sensor>
                    </div>
                        
                </div>
                <div ng-show="!detailsData">
                    <div ng-show="(!filterSensors.length && sensorData && !loading)" id="alert-error"><p>No result</p></div> 
                    <div id="filteredSens" ng-show="filter">{{filterSensors.length}}</div> 
                </div>
            </div>
            <div ng-show="!detailsData" paging page="vm.currentPage" page-size="vm.sensPerPage" total="vm.allSensors" show-prev-next="true" show-first-last="true" 
            ul-class="pagination" active-class="active" disabled-class="disabled" ng-if="sensorData"></div>
        </div>
    </div>
</div>