.contact-container-big{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3124324;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(-60deg, 
    #77ab88 0%, #77ab88 25%, 
    #308f58 25%, #308f58 100%); 

}
.contact-container-big .span-x{
    font-size: 25px;
    position: fixed;
    right: 20px;
    top: 10px;
    cursor: pointer;
    text-shadow: 1px 1px #e0e0e0;
}
.contact-container-big .span-x:hover{
    text-shadow: 0px 0px #e0e0e0;
}
.contact-container-big span:hover{
    color:  #d9534f;
}
.contact-container-big h2{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.contact-container-big .contact-image{
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-right: auto;
}
.contact-container-big .contact-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px;
    min-width: 300px;
    background-color: white;
    box-shadow: 6px 6px 9px -7px #000000;
}
.contact-container-big .contact-container .area-text-container{
    display: flex;
    width: 100%;
}
.contact-container-big .contact-container .area-text-container .textarea-container-flex{
    margin-left: 15px;
    margin-bottom: 15px;
    flex-grow: 1;
}
.contact-container-big .contact-container .area-text-container .textarea-container-flex textarea{
    height: 100%;
    width: 100%;
    border-radius: 1px;
    border: solid 1px #a3a2a2;
}
.contact-container-big .contact-container .area-text-container .textarea-container-flex textarea:focus{
    border: solid 2px #4e9a06;
}
.contact-container-big .contact-container .contact-input-container{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
.contact-container-big .contact-container .contact-input-container .icon{
    padding: 10px;
    background: #4e9a06;
    color: white;
    min-width: 50px;
    text-align: center;
}
.contact-container-big .contact-container .contact-input-filed{
    width: 100%;
    padding: 5px;
    outline: none;
}
.contact-container-big .contact-container .contact-input-filed:focus{
    border: 2px solid #4e9a06;
}
.contact-container-big .contact-container button{
    background-color: #4e9a06;
    color: white;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    align-self: flex-end;
}
.contact-container-big .contact-container button:hover{
    opacity: 1;
}
@media screen and (max-width: 800px){
    .contact-container-big .contact-container button{
        width: 240px;
    }
}
@media screen and (max-width: 600px){
    .contact-container-big .contact-container button{
        align-self: auto;
        width: 215px;
    }
    .contact-container-big .contact-container .area-text-container{
        flex-direction: column;
    }
    .contact-container-big .contact-container .area-text-container .textarea-container-flex{
        margin-left: 0px;
    }
}