.contact-container-big{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3124324;
    width: 100%;
    height: 100%;
    background-image: url("/Home/images-home/Home-page/BG-login1.0.svg");
    background-attachment: fixed;
    background-size: 90%;
    background-repeat: no-repeat;
    overflow: auto;
}
.contact-container-big > img:first-child{
    height: auto;
    width: 30px;
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.contact-container-big > img:first-child:hover{
    opacity: 0.7;
}
.contact-container-big span:hover{
    color:  #d9534f;
}
.contact-container-big h2{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.c-iong-contact{
    position: absolute;
    right: 12%;
    top: 15%;
}
.c-icon-contact > a > span{
    color: #24D324;
    font-size: 30px;
    padding: 30px;
}
body > div:nth-child(10) > contact > div.contact-container-big > div.c-iong-contact > div:nth-child(1) > a:nth-child(1) > span:hover{
    color: rgb(98, 181, 236);
}
body > div:nth-child(10) > contact > div.contact-container-big > div.c-iong-contact > div:nth-child(1) > a:nth-child(3) > span:hover{
    color: rgb(24, 152, 238);
}
body > div:nth-child(10) > contact > div.contact-container-big > div.c-iong-contact > div:nth-child(2) > a:nth-child(1) > span:hover{
    color: rgb(57, 130, 179);
}
body > div:nth-child(10) > contact > div.contact-container-big > div.c-iong-contact > div:nth-child(2) > a:nth-child(2) > span:hover{
    color: rgb(19, 241, 49);
}
body > div:nth-child(10) > contact > div.contact-container-big > div.c-iong-contact > div:nth-child(2) > a:nth-child(3) > span:hover{
    color: rgb(240, 136, 17);
}
.contact-container-big .contact-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px;
    min-width: 300px;
    /* background-color: white;
    border-radius: 10px;
    border: 1px solid #B1D8B1;
    box-shadow: 6px 6px 9px -7px #00000059; */
    position: absolute;
    bottom: 20px;
    right: 0px;
}
.contact-container-big .contact-container .area-text-container{
    display: flex;
    width: 100%;
}
.contact-container-big .contact-container .area-text-container .textarea-container-flex{
    margin-left: 15px;
    margin-bottom: 15px;
    flex-grow: 1;
}
.contact-container > h2{
    color: #00AC06;
    font-weight: normal;
}
.contact-container-big .contact-container .area-text-container .textarea-container-flex textarea{
    height: 100%;
    width: 90%;
    border-radius: 10px;
    border: solid 1px #B1D8B1;
}
.contact-container-big .contact-container .area-text-container .textarea-container-flex textarea:focus{
    border: solid 1px #24D324;
}
.contact-container-big .contact-container .contact-input-container{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
.contact-container-big .contact-container .contact-input-container .icon{
    padding: 10px;
    background: #24D324;
    color: white;
    min-width: 50px;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
}
.contact-container-big .contact-container .contact-input-filed{
    width: 100%;
    padding: 5px;
    outline: none;
    border: 1px solid #B1D8B1;
    border-radius: 0px 5px 5px 0px;
}
.contact-container-big .contact-container .contact-input-filed:focus{
    border: 1px solid rgb(34, 173, 34);
}
.contact-container-big .contact-container button{
    background-color: #24D324;
    color: white;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    width: 150px;
    opacity: 0.9;
    align-self: center;
    border-radius: 10px;
}
.contact-container-big .contact-container button:hover{
    opacity: 1;
}
@media screen and (max-width: 800px){
    .contact-container-big .contact-container button{
        width: 240px;
    }
}
@media screen and (max-width: 600px){
    .contact-container-big .contact-container button{
        width: 215px;
    }
    .contact-container-big .contact-container .area-text-container{
        flex-direction: column;
    }
    .contact-container-big .contact-container .area-text-container .textarea-container-flex{
        margin-left: 0px;
    }
    /* .contact-container-big .contact-image{
        margin-left: 20%;
    } */
}