<!-- <div class="col-mx-20" id="categoriesNav" ng-controller="clickCtrl as vm">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a class="btn btn-primary fa fa-thermometer-2" ui-sref="categories.sensorList" title="temperature sensors list" ng-click="vm.myStyle(1)" ng-style="vm.Style1">Temperature</a></li>
      <li class="active"><a class="btn btn-primary rel fa fa-sort-amount-asc" ui-sref="categories.distanceList" title="distance sesors" ng-click="vm.myStyle(2)" ng-style="vm.Style2">Distance</a></li>
      <li class="active"><a class="btn btn-primary rel fa fa-tint" title="humidity" ng-click="vm.myStyle(3)" ng-style="vm.Style3">Humidity</a></li>
    </ul>
</div> -->

<!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" ui-sref="categories.sensorList" title="temperature sensors list">Temperature</a>
    <a class="dropdown-item" ui-sref="categories.distanceList" title="distance sesors">Distance</a>
    <a class="dropdown-item" href="#">Humidity</a>
</div> -->