.background-textHome{
    background-color: #fdffff !important;
    margin-bottom: 50px;
}
.container-aboutUs{
    margin-top: 50px;
    width: 100%;
    height: 100%;
}
.container-aboutUs .container-aboutUs-text h1{
    font-family: "Archivo SemiBold";
    text-align: center;
}
.container-aboutUs .container-aboutUs-text p{
    font-family: "Archivo Regular";
    text-align: justify;
}
.container-aboutUs .container-aboutUs-text img{
    height: auto;
    width: 90%;
    padding: 10px;
}